$unit: 'px'
.button
  &-blue,&-gray
    span
      transition: .35s ease
    &:hover
      span
        color: $button-color
      span:last-child
        transform: translateX(100%)
  &-gray
    &:hover
      span
        color: #b7b7b7
  &-withdrawal
    margin: 0 0 30px auto
.head
  +w(1042px)
  margin: auto
  &-name
    +w(330px)
  &-login
    &:hover
      background-color: $head-gray
      transition: .35s ease
      span
        color: #fff
      svg
        path
          fill: #fff
  &-language
    &-select
      .head-button
        &:hover
          transition: .35s ease
          background-color: $head-gray
          span
            color: #fff
          .head-language-arrow span
            border-color: #fff
  .participate
    overflow: hidden
    position: relative
    background-color: inherit
    span
      position: relative
      z-index: 1
      &:last-child
        +wh(100%)
        border-radius: 17px
        background-color: $button-color
        position: absolute
        left: 0
        top: 0
        z-index: 0
.cabinet
  &-list
    li
      button
        padding: 15px 50px
        &:hover
          text-decoration: underline
.page-select-header:hover
  cursor: pointer
.reg
  &-button
    overflow: hidden
  &-gray
    &-button:hover
      span:last-child
        transform: translateX(0)
  &-method
    &-fee
      +w(483px)
      display: flex
      align-items: flex-start
      position: relative
      padding-bottom: 70px
      .reg-block
        flex: 0 0 calc(50% - 7.5px)
        &:first-child
          margin-right: 15px
      .reg-label
        +w(483px)
        position: absolute
        left: 0
  &-table
    span
      font-size: 16px
    div:last-child
      flex: 0 0 298px
  &-country
    &-list
      box-shadow: none
      &-active
        border-bottom: 1px solid $head-dark-gray
      li:hover
        background-color: $head-border-gray
.reg,.privacy
  img
    right: -50px
.program
  &-steps
    h6
      font-size: 14px
    span
      line-height: 30px
.typycal
  height: 1630px
  &-bgc
    background-position: center
  &-section
    +w(800px)
    top: 120px
.terms
  &-row
    button:last-child:hover
      span
        color: $head-gray
.partner
  &-span
    margin-top: 100px
  &-button
    margin-top: 50px
    margin-bottom: 70px