$unit: 'px'
.head
  +w(1042px)
  margin: auto
  &-name
    +w(330px)
  &-login
    &:hover
      background-color: $head-gray
      transition: .35s ease
      span
        color: #fff
      .head-login-lock
        span:first-child
          border-color: #fff
        span:last-child
          background-color: #fff
  &-language
    &-select
      .head-button
        &:hover
          transition: .35s ease
          background-color: $head-gray
          span
            color: #fff
          .head-language-arrow span
            border-color: #fff
  .participate
    overflow: hidden
    position: relative
    background-color: inherit
    span
      transition: .35s ease-in-out
      &:first-child
        z-index: 1
      &:last-child
        +wh(100%)
        border-radius: 17px
        background-color: $button-color
        position: absolute
        left: 0
        top: 0
    &:hover
      span
        color: $button-color
        &:last-child
          transform: translateX(100%)
.page-select-header:hover
  cursor: pointer
.reg
  &-button
    overflow: hidden
    span
      transition: .35s ease
    &:hover
      span:first-child
        color: #b8b8b8
      span:last-child
        transform: translateX(100%)
    &-red:hover
      span:first-child
        color: $button-color
  &-gray
    &-button:hover
      span:last-child
        transform: translateX(0)