$unit : 'px'
@keyframes fade-zoom-in-image
  0%
    opacity: 0
    -webkit-transform: scale(1.02)
    transform: scale(1.02)
  100%
    opacity: 1
    -webkit-transform: scale(1)
    transform: scale(1)
a
  cursor: pointer
.section
  +w($mobile#{$unit})
  margin: 0 auto
  padding: 0 5px
.button
  &-blue,&-gray
    +wh(134px,40px)
    +dfc
    overflow: hidden
    border: 1px solid $button-color
    border-radius: 20px
    position: relative
    span
      +font(16px,$f_medium,#fff)
      position: relative
      z-index: 10
    span:last-child
      +wh(100%)
      display: block
      background-color: $button-color
      position: absolute
      left: 0
      right: 0
      top: 0
      z-index: 0
  &-gray
    border-color: #b7b7b7
    span:last-child
      background-color: #b7b7b7
  &-cabinet
    +wh(50px,33px)
    border-radius: 10px
    img
      +w(20px)
      position: relative
      z-index: 10
    span
      display: none
    span:last-child
      display: block
  &-withdrawal
    +w(298px)
    margin: 0 auto 30px
header
  +w(100%)
  position: fixed
  z-index: 100
  top: 0
  transition: .3s
  background-color: #fff
.head
  display: flex
  align-items: center
  justify-content: space-evenly
  padding: 17px 0
  transition: .3s ease
  &-logo
    img
      +w(34px)
  &-name
    +font(12px,$f_medium,$blue-text)
    +w(110px)
  &-button
    border: 1px solid $head-border-gray
    border-radius: 10px
    padding: 8px 15px
    min-height: 33px
    display: flex
    align-items: center
    background-color: rgba(255,255,255,0.7)
    span
      +font(13px,$f_medium,$head-dark-gray)
  &-login
    span
      display: none
    svg
      fill: $head-dark-gray
  &-language
    display: flex
    flex-direction: column
    &-arrow
      +w(7px)
      display: flex
      justify-content: space-between
      opacity: 50%
      span
        +wh(1px,8px)
        display: block
        border: 1px solid $gray-text
        border-radius: 1px
        transform: rotate(-45deg)
        &:last-child
          transform: rotate(45deg)
    &-select
      & *
        transition: .35s ease
      &.open
        .page-select-body
          opacity: 1
          visibility: visible
        .head-button
          border-bottom-right-radius: 0
          border-bottom-left-radius: 0
        .head-language-arrow
          span
            transform: rotate(45deg)
            &:last-child
              transform: rotate(-45deg)
  &-underline
    padding: 0 20px
    div
      height: 1px
      background-color: $head-border-gray
  &-scrolled
    backdrop-filter: saturate(180%) blur(10px)
    background-color: rgba(255,255,255,0.6)
    .head
      padding: 5px 0
  &-user
    padding: 6px 22px 4px!important
    img
      +w(20px)
    span:nth-child(2)
      display: none
.page-select
  +w(70px)
  position: relative
  &-header
    &>span:first-child
      margin-right: 9px
  &-body
    opacity: 0
    visibility: hidden
    +w(100%)
    position: absolute
    z-index: 99
    .head-button
      border-radius: 0
      border-top: none
      background-color: #fff
      &:last-child
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 10px
.cabinet
  &-list
    height: 138px
    transition: .5s ease
    background-color: #fff
    box-shadow: 0 5px 5px rgba(0,0,0,0.2)
    li
      height: 46px
      position: relative
      opacity: 1
      visibility: visible
      transition: .5s cubic-bezier(1,-0.37, 0.81, 0.99)
      button
        +w(100%)

        text-align: left
        display: block
        color: $head-gray
        padding: 15px 50px
      &:after
        +wh(80%,1px)
        +af
        background-color: $head-border-gray
        position: absolute
        bottom: 0
        margin: auto
        right: 0
        left: 0
      &:last-child
        button
          color: $red
        &:after
          display: none
  &-hidden
    height: 0
    overflow: hidden
    li
      opacity: 0
      visibility: hidden
.main
  background-image: url("../img/mainview-mob.jpg")
  background-position: bottom
  background-size: 100% 90%
  background-repeat: no-repeat
  margin-top: 74px
  &-anchor
    margin-top: -150px
    margin-bottom: 150px
.mainview
  &-cont
    height: 50vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: flex-end
    text-align: center
    position: relative
  &-logo
    +w(80px)
  h1
    span
      font-family: $f-semi
      color: $dark-blue-text
      &:first-child
        font-size: 30px
        display: block
      &:last-child
        font-size: 20px
  &-scroll
    display: flex
    align-items: center
    flex-direction: column
    color: #fff
    font-size: 14px
    bottom: 50px
    z-index: 99
    transition: .35s ease
    img
      margin-top: 6px
  .part
    height: 33px
    position: fixed
    z-index: 99
    bottom: 10px
  &-second
    height: 100vh
    justify-content: center
  h2
    span
      +font(24px,$f_medium,#fff)
      display: block
  &-video
    display: flex
    align-items: center
    color: #fff
    margin-top: 15px
    span
      font-family: $f_medium
      font-size: 18px
      margin-right: 10px
      text-decoration: underline
.mob-scroll
  transform: translateY(0)
.program
  &-text
    p
      font-family: $f_medium
      line-height: 26px
  &-steps
    margin-top: 25px
    h5,h6
      color: $gray-text
      font-family: $f_light
    h5
      font-size: 18px
    h6
      font-size: 12px
      margin-top: 20px
    span
      font-family: $f_medium
      font-size: 18px
  &-cont
    padding: 40px 0
.count
  padding-top: 30px
  &,&-cont
    display: flex
    align-items: center
    flex-direction: column
  h3
    +font(30px,$f_semi)
    text-align: center
  &-row
    padding: 10px 0 50px
    display: flex
    align-items: flex-start
    justify-content: center
  &-cont:first-child
    margin-right: 50px
  &-span
    +font(18px,$f_semi)
    +w(70px)
  &-desc
    +font(12px,$f_reg)
    display: flex
    flex-direction: column
    align-items: center
    opacity: .8
.underline
  padding: 0 20px
  div
    height: 1px
    background-color: $head-border-gray
.statistic
  padding: 30px 0 50px
  &-cont
    display: flex
    flex-direction: column
    align-items: center
  h2
    font-family: $f_semi
    font-size: 30px
  &-slider
    +w(300px)
    overflow: hidden
    margin: auto
    &-cont
      transition: .35s ease
      display: flex
      &-label
        +w(64px)
        margin: 30px auto 0
        display: flex
        align-items: center
        label
          +wh(6px)
          display: block
          margin: 0 5px
          border: 1px solid $head-border-gray
          border-radius: 100%
  &-slide
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    flex: 0 0 300px
    &>span:first-child
      +font(50px,$f_thin)
      margin-bottom: -5px
    &>span:last-child
      font-family: $f_medium
      opacity: 30%
    &-i
      +wh(16px)
      +dfc
      border-radius: 100%
      border: 1px solid #E0E0E0
      position: absolute
      top: 10px
      right: 110px
      span
        +font(11px,$f_reg,#000)
        opacity: 30%
.typycal
  height: 1126px
  position: relative
  overflow: hidden
  h2,p,span,svg
    transition: 3s
  &-one
    z-index: 2
  &-two
    z-index: 1
  &-h2
    h2
      +w(200px)
  &-nature
    p span:first-child
      display: flex
      align-items: flex-start
    strong
      font-size: 24px
  &-bgc
    +wh(100%)
    position: absolute
    top: 0
    background-size: cover
    background-position: top
  &-section
    +wh(320px,100%)
    padding: 0 10px
    margin: auto
    position: absolute
    z-index: 10
    top: 37px
    left: 0
    right: 0
  &-cont
    h2
      margin-top: 100px
      position: relative
      font-family: $f_medium
      font-size: 30px
      transition: 2s
      span
        position: absolute
        top: 0
        left: -15px
    &-text
      margin-top: 15px
      &>p
        font-family: $f_reg
        line-height: 22px
  &-right
    div
      margin-top: 30px
      display: flex
      align-items: flex-start
    p
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-top: -8px
      margin-left: 8px
      span:first-child
        font-size: 40px
        font-family: $f_thin
      span:last-child
        +w(200px)
        opacity: 70%
  svg
    opacity: 70%
  &-every,&-tobe,&-ideal
    p,span,h2
      color: #fff
    svg
      fill: #fff
.first,.second
  span,p,h2
    color: #303030
  svg
    fill: #303030
  &-white
    span,p,h2
      color: #fff
    svg
      fill: #fff
.second,.second-white
  .typycal-two
    z-index: 3
.last-block
  padding-top: 34px
  padding-bottom: 20px
  span
    color: #838383
    position: absolute
    top: 2px
    left: -10px
  .underline
    padding: 25px 20px
  p
    position: relative
    font-size: 11px
    line-height: 16px
    color: #838383
.youtube
  +wh(100%,100vh)
  +dfc
  position: fixed
  background-color: #fff
  z-index: 100
  top: 0
  iframe
    +wh(90%,70%)
.privacy,.reg
  +w(100%)
  min-height: calc(100vh - 418px)
  h2
    +font(30px,$f_medium)
    strong
      font-weight: 500
  strong
    font-weight: 600
  img
    display: none
.privacy
  padding: 46px 0
  h3
    +font(18px,$f_semi)
    margin: 30px 0 10px
  li
    margin-top: 10px
    span:first-child
      color: #c4c4c4
      margin-right: 15px
.reg
  padding: 95px 0 0
  &-cont
    padding: 20px 0
  &-row
    display: flex
    align-items: flex-end
    .reg-first
      margin-right: 10px
    &-mini
      +w(150px)
  &-block
    +w(310px)
    padding: 10px 0
    &-title
      margin-bottom: 10px
      display: flex
      justify-content: space-between
      align-items: center
      h3
        +font(18px,$f_reg)
      h6
        +font(18px,$f_semi)
      span
        display: none
        color: $red
  &-conf
    +w(200px)
  &-gray
    opacity: 50%
    span
      line-height: 17px
  input,select,&-datalist
    +wh(100%,50px)
    +font(18px,$f_semi)
    background-color: #f6f6f6
    border: 1px solid #ccc
    border-radius: 10px
    padding-left: 20px
    &::placeholder
      opacity: 50%
  select
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
  select,&-datalist
    +font(18px,$f_medium)
    background-image: url('../img/arrr.png')
    background-repeat: no-repeat
    background-position: 260px 0
    background-size: 30px
  &-label
    margin-top: 5px
    display: flex
    align-items: center
    &>span:first-child
      +wh(13px)
      +dfc
      background-color: #f6f6f6
      border: 1px solid #ccc
      border-radius: 3px
      margin-right: 7px
      span
        +wh(0px)
        transition: .15s
        background-color: $button-color
        display: block
    &-input:checked~label>span:first-child span
      +wh(9px)
  &-button
    +w(300px)
    margin: auto
    &-block
      margin-top: 30px
      margin-bottom: 30px
      .reg-comment
        margin-top: 20px
    &-long
      &,& span:last-child
        +wh(310px,50px)
        border-radius: 10px
      margin-top: 15px
  &-mt,&-mt-mob
    margin-top: 10px
    &-large
      margin-top: 50px
  &-gender
    +w(150px)
    label
      +w(100%)
      padding: 13px 20px 13px 15px
      display: flex
      align-items: center
      background-color: #eee
      border-radius: 10px
      span
        +font(18px,$f_medium)
      &>span:first-child
        +wh(15px)
        +dfc
        border-radius: 100%
        border: 1px solid #b6b6b6
        background-color: #fff
        span
          +wh(0px)
          background-color: $button-color
          border-radius: 100%
          transition: .15s ease
      span:nth-child(2)
        margin-right: auto
        margin-left: 10px
    input:checked~label
      background-color: #e5f4fbde
      &>span:first-child span
        +wh(9px)
  .underline
    padding: 0
  &-link
    display: block
    margin-top: 15px
    text-align: center
  &-method
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    padding: 0 10px
    span
      +font(18px,$f_semi,$blue)
      position: relative
      &:after
        +wh(30%,2px)
        display: table
        content: ''
        background-color: $blue
        position: absolute
        bottom: -5px
        left: 0
    a
      +font(18px,$f_reg,#9c9c9f)
    &>span,&>a
      margin-top: 15px
    &-cont
      padding-bottom: 30px
    &-step
      display: flex
      align-items: center
      &>span:first-child
        +wh(37px)
        +dfc
        border-radius: 100%
        border: 1px solid $gray-text
        margin-right: 10px
        span
          +font(18px,$f_bold)
    &-button
      +w(300px)
      &-block
        display: flex
        flex-direction: column
        align-items: center
  &-table
    display: flex
    align-items: flex-end
    justify-content: space-between
    padding-top: 30px
    padding-bottom: 30px
    div
      text-align: center
      &:first-child
        flex: 0 0 110px
        text-align: left
      &:nth-child(2)
        flex: 0 0 110px
      &:last-child
        flex: 0 0 90px
    h6
      font-family: $f_semi
    span
      +font(14px,$f_light)
      display: block
      margin-top: 25px
  &-links
    a
      display: block
      +font(16px,$f_reg,$gray-text)
      &:last-child
        margin-top: 30px
  &-country
    &-list
      +w(310px)
      max-height: 0
      background-color: #fff
      overflow-y: scroll
      transition: .5s ease
      position: absolute
      z-index: 99
      box-shadow: 0 5px 10px rgba(0,0,0,0.3)
      li
        button
          +wh(100%,50px)
          padding: 0 15px
          display: flex
          align-items: center
          &:focus
            background: $head-border-gray
      &-active
        max-height: 500px
    img
      +w(30px)
      display: block
      margin-right: 15px
  &-datalist
    display: flex
    align-items: center
    input
      +wh(70%!important)
      background-image: none
      border: none
      background-color: transparent!important
      padding: 0

.priv
  &-success
    h4
      +font(14px,$f_bold)
    .underline
      padding: 10px 0
    &-red
      color: $red
    &-p
      padding: 10px 0
      strong
        font-weight: 500
        font-family: $f_bold
  &-info
    padding-top: 10px
    span
      font-size: 13px
  &-block
    padding: 10px 0
.partner
  &-button
    margin: 30px 0
  &-span
    font-size: 11px
    line-height: 16px
    color: $head-gray
    display: block
    margin-top: 50px
.close-form
  position: fixed
  top: 15px
  right: 15px
.success
  input,select,.reg-datalist
    background-color: #e5f4fbde!important
    border-color: $button-color!important
.error
  input,select
    background-color: #FFECEC!important
    border-color: #C7132A!important
  .reg-block-title
    span
      display: block
.foot
  padding: 0 0 50px
  &-order-0
    order: 0
  &-order-3
    order: 3
  &-copy
    order: 4
  &-order-6
    order: 6
  &-address
    order: 7
  &-order-8
    order: 8
  .section
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
  &-copy,&-tel,&-address
    font-size: 13px
    line-height: 16px
    margin: 24px 0
  .underline
    flex: 0 0 100%
    padding: 0
  &-logo
    display: flex
    align-items: center
    margin: 34px 0
    order: 1
    &:after
      +wh(1px,50px)
      display: table
      content: ''
      background-color: $head-border-gray
      margin: 0 30px
    img
      +wh(54px,57px)
  &-name
    margin-right: auto
    order: 2
    span
      font-size: 18px
      line-height: 21px
      color: $gray-text
  &-privacy
    margin-top: -35px
    order: 5
  &-tel
    color: $gray-text
    order: 9
    span
      margin-left: 5px
  &-mail
    margin-top: -5px
    order: 10
  &-privacy,&-mail,&-terms,&-partner
    font-size: 13px
    line-height: 16px
    text-decoration: underline
    color: $red
  &-copy,&-name
    +w(160px)
    flex: 0 0 160px
    display: block
  &-terms,&-partner
    order: 20
    font-family: $f_reg
.mob
  &-none
    display: none
  &-fixed
    position: fixed
.terms
  padding-bottom: 0
  .underline
    margin-top: 20px
  &-row
    padding: 20px 0
    button
      margin: 20px 0
      &:last-child
        border-color: $head-gray
        span:last-child
          background-color: $head-gray
.display-none
  display: none
.scrolled-hide
  transform: translateY(100px)!important
#reg-login-forgot
  +font(16px,$f_reg,$gray-text)
#stat-slide1:checked~.statistic-slider-cont
  transform: translateX(0px)
  &-label
    label:first-child
      background-color: $head-border-gray
#stat-slide2:checked~.statistic-slider-cont
  transform: translateX(-300px)
  &-label
    label:nth-child(2)
      background-color: $head-border-gray
#stat-slide3:checked~.statistic-slider-cont
  transform: translateX(-600px)
  &-label
    label:nth-child(3)
      background-color: $head-border-gray
#stat-slide4:checked~.statistic-slider-cont
  transform: translateX(-900px)
  &-label
    label:last-child
      background-color: $head-border-gray
#nav-lang:checked~div label
  background-color: $head-border-gray
#nav-lang:checked~div ul
  transform: translateY(0)
.always
    background-image: url('../img/always-mob.jpg')
.alwaysBgc
    background-image: url('../img/always-change-mob.jpg')
.every
  background-image: url('../img/red-girl-mob.jpg')
.everyBgc
  background-image: url('../img/china-girl-mob.jpg')
.equal
  background-image: url('../img/flag-mob.jpg')
.equalBgc
  background-image: url('../img/freedom-mob.jpg')
.toBeBgc
  background-image: url('../img/singer1-mob.jpg')
.toBe
  background-image: url('../img/singer-mob.jpg')
.weather
  background-image: url('../img/weather-mob.jpg')
.weatherBgc
  background-image: url('../img/weather-snow-mob.jpg')
.nature
  background-image: url('../img/nature-mob.jpg')
.natureBgc
  background-image: url('../img/nature-change-mob.jpg')
.eat
  background-image: url('../img/eat-mob.jpg')
.eatBgc
  background-image: url('../img/eat-change-mob.jpg')
.ideal
  background-image: url('../img/ideal-mob.jpg')
.idealBgc
  background-image: url('../img/ideal-change-mob.jpg')