$unit : 'px'
.section
  +w($mobile#{$unit})
  margin: 0 auto
header
  +w(100%)
  background-color: #fff
  position: fixed
  z-index: 99
.head
  display: flex
  align-items: center
  justify-content: space-evenly
  padding: 17px 0
  &-logo
    img
      +wh(34px,36px)
  &-name
    +font(12px,$f_medium,$blue-text)
    +w(110px)
  &-button
    border: 1px solid $head-gray
    border-radius: 10px
    padding: 8px 15px
    min-height: 33px
    display: flex
    align-items: center
    &>span:first-child
      margin-right: 9px
    span
      +font(13px,$f_medium,$head-dark-gray)
  &-login
    &>span:first-child
      display: none
    &-lock
      +w(10px)
      display: flex
      flex-direction: column
      align-items: center
      span
        display: block
        &:first-child
          +wh(8px,10px)
          border: 2px solid $head-gray
          border-radius: 4px
        &:last-child
          +wh(10px,7px)
          background-color: $head-gray
          margin-top: -4px
  &-language
    display: flex
    flex-direction: column
    &-arrow
      +w(7px)
      display: flex
      justify-content: space-between
      span
        +wh(1px,8px)
        display: block
        border: 1px solid $head-gray
        border-radius: 1px
        transform: rotate(-45deg)
        &:last-child
          transform: rotate(45deg)
    &-select
      & *
        transition: .35s ease
      &.open
        .page-select-body
          opacity: 1
          visibility: visible
        .head-button
          border-bottom-right-radius: 0
          border-bottom-left-radius: 0
        .head-language-arrow
          span
            transform: rotate(45deg)
            &:last-child
              transform: rotate(-45deg)
  &-underline
    padding: 0 20px
    div
      height: 1px
      background-color: $head-gray
.participate
  padding: 8px 22px
  border-radius: 50px
  background-color: $red
  span
    +font(13px,$f_medium,#fff)
.page-select
  +w(70px)
  position: relative
  &-body
    opacity: 0
    visibility: hidden
    +w(100%)
    position: absolute
    z-index: 99
    .head-button
      border-radius: 0
      border-top: none
      background-color: #fff
      &:last-child
        border-bottom-right-radius: 10px
        border-bottom-left-radius: 10px
.mob
  &-none
    display: none
  &-fixed
    position: fixed
.main
  height: 1300px
  background-image: url("../img/mainview-mob.png")
  background-position: bottom
  background-size: 100%
  background-repeat: no-repeat
.mainview
  +wh(100%,100vh)
  +dfc
  flex-direction: column
  text-align: center
  &-logo
    +w(80px)
  h1
    span
      font-family: $f-semi
      color: $dark-blue-text
      &:first-child
        font-size: 30px
        display: block
      &:last-child
        font-size: 20px
  &-scroll
    display: flex
    align-items: center
    flex-direction: column
    color: #fff
    font-size: 14px
    bottom: 82px
    img
      margin-top: 6px
  .participate
    bottom: 30px
  &-second
    height: 50vh
  h2
    span
      +font(24px,$f_medium,#fff)
      display: block
  &-video
    display: flex
    align-items: center
    color: #fff
    margin-top: 15px
    span
      font-family: $f_medium
      font-size: 18px
      margin-right: 10px
      text-decoration: underline