.section
  +w($mobile-large#{$unit})
.head
  &-logo
    img
      +w(40px)
  &-name
    +w(130px)
    font-size: 14px
  &-login
    &>span:first-child
      display: block
.statistic
    &-i
      right: 165px
.reg
  .section
    +w(320px)