.section
  +w(728px)
.mob-none
  display: flex
.mob-only
  display: none
.head
  justify-content: flex-start
  &-logo
    display: flex
    align-items: center
    margin: 0 30px
    &:after
      +wh(1px,50px)
      display: table
      content: ''
      background-color: $head-border-gray
    img
      +wh(54px,57px)
      margin-right: 30px
  &-name
    margin-right: auto
    +w(160px)
    font-size: 18px
  &-language
    &-select
      margin: 10px
  &-button
    padding: 11px 14px
    span
      font-size: 15px
  .participate
    +dfc
    +wh(134px,42px)
    flex: 0 0 134px
    border: 1px solid $red
    padding: 0
    margin-right: 40px
    span
      font-size: 15px
.page-select
  +w(75px)
.main
  background-image: url('../img/mainview-large.jpg')
  height: 170vh
.mainview
  &-scroll
    bottom: 30px
  h1
    span:first-child
      font-size: 70px
    span:last-child
      font-size: 50px
  h2
    span
      font-size: 50px
  &-video
    margin-top: 25px
.program
  &-cont
    display: flex
  &-text
    margin-right: 50px
  &-steps
    flex: 0 0 173px
    margin-top: 0
.statistic
  &-slider
    &-cont
      +w(600px)
      margin: auto
      padding: 20px 0
      justify-content: space-between
      &-label
        display: none
  &-slide
    flex: inherit
    &-line
      +wh(1px,60px)
      background-color: $head-border-gray
    &-i
      right: -10px