.section
  +w(850px)
.head
  &-name
    +w(inherit)
  &-language
    &-select
      margin-right: 20px
.reg
  .section
    +w(850px)
  h2
    +w(700px)
    font-size: 50px
.privacy
  padding: 127px 0
  h3
    margin: 50px 0 20px
.mainview
  h1
    margin-top: 35px
.program
  &-cont
    justify-content: center
  &-text
    flex: 0 0 510px
    margin-right: 74px
    p
      font-family: $f_semi
      font-size: 24px
      line-height: 40px
  &-steps
    flex: 0 0 193px
    h5
      font-size: 20px
      margin-bottom: 30px
    span
      font-size: 20px
.statistic
  padding: 73px 0 115px
  h2
    font-size: 50px
.underline
  +w(815px)
.program
  &-cont
    padding-bottom: 0
  &-steps
    margin-top: 10px
  .underline
    margin: 88px auto 0
.typycal
  padding-top: 120px
  background-position: center
  &-right
    margin-left: 70px
    p
      span:first-child
        font-size: 44px
      span:last-child
        +w(inherit)
    div
      margin-top: 40px
  &-cont
    &-text>p
      +w(460px)
      flex: 0 0 460px
    h2
      margin-bottom: 50px
.every,.everyBgc,.toBeBgc,.toBe,.nature,.natureBgc,.eat,.eatBgc
  .section
    position: relative
  .typycal-cont
    +w(500px)
    margin-left: auto
    h2
      +w(inherit)
    .typycal-right
      position: absolute
      left: 0
      margin-left: 0
.every,.everyBgc
  .typycal-cont
    .typycal-right
      left: 340px
      bottom: -280px
.toBe,.toBeBgc,.eat,.eatBgc,.nature,.natureBgc
 .typycal-cont-text>p
   order: 1
.eat,.eatBgc
  h2
    +w(360px)
.nature,.natureBgc
  h2
    +w(450px)
.always,.alwaysBgc
  h2 strong
    display: block
.last-block
  padding-top: 74px
.foot
  &-name
    +w(330px)
    flex: 0 0 330px
    font-family: $f_medium
  &-privacy
    font-size: 16px