-
	let advantages = [
		{
			image: 'low-price.svg',
			text: 'Лучшая<br>цена'
		},
	]
	countries = [
		{
			country: "Abkhazia",
			img: 'img_flags_ab.png',
			
		},
		{
			country: "Afghanistan",
			img: 'img_flags_af.png',
			
		},
		{
			country: "Albania",
			img: 'img_flags_al.png',
			
		},
		{
			country: "Algeria",
			img: 'img_flags_dz.png',
			
		},
		{
			country: "American Samoa",
			img: 'img_flags_as.png',
			
		},
		{
			country: "Andorra",
			img: 'img_flags_ad.png',
			
		},
		{
			country: "Angola",
			img: 'img_flags_ao.png',
			
		},
		{
			country: "Antigua and Barbuda",
			img: 'img_flags_ag.png',
			
		},
		{
			country: "Argentina",
			img: 'img_flags_ar.png',
			
		},
		{
			country: "Armenia",
			img: 'img_flags_am.png',
			
		},
		{
			country: "Australia",
			img: 'img_flags_au.png',
			
		},
		{
			country: "Austria",
			img: 'img_flags_at.png',
			
		},
		{
			country: "Azerbaijan",
			img: 'img_flags_az.png',
			
		},
		{
			country: "Bahamas",
			img: 'img_flags_bs.png',
			
		},
		{
			country: "Bahrain",
			img: 'img_flags_bh.png',
			
		},
		{
			country: "Bangladesh",
			img: 'img_flags_bd.png',
			
		},
		{
			country: "Barbados",
			img: 'img_flags_bb.png',
			
		},
		{
			country: "Belarus",
			img: 'img_flags_by.png',
			
		},
		{
			country: "Belgium",
			img: 'img_flags_be.png',
			
		},
		{
			country: "Belize",
			img: 'img_flags_bz.png',
			
		},
		{
			country: "Benin",
			img: 'img_flags_bj.png',
			
		},
		{
			country: "Bolivia",
			img: 'img_flags_bo.png',
			
		},
		{
			country: "Bosnia and Herzegovina",
			img: 'img_flags_ba.png',
			
		},
		{
			country: "Botswana",
			img: 'img_flags_bw.png',
			
		},
		{
			country: "Brazil",
			img: 'img_flags_br.png',
			
		},
		{
			country: "Brunei",
			img: 'img_flags_bn.png',
			
		},
		{
			country: "Bulgaria",
			img: 'img_flags_bg.png',
			
		},
		{
			country: "Burkina Faso",
			img: 'img_flags_bf.png',
			
		},
		{
			country: "Burundi",
			img: 'img_flags_bi.png',
			
		},
		{
			country: "Butane",
			img: 'img_flags_bt.png',
			
		},
		{
			country: "Cambodia",
			img: 'img_flags_kh.png',
			
		},
		{
			country: "Cameroon",
			img: 'img_flags_cm.png',
			
		},
		{
			country: "Canada",
			img: 'img_flags_ca.png',
			
		},
		{
			country: "Cape Verde",
			img: 'img_flags_cv.png',
			
		},
		{
			country: "CAR",
			img: 'img_flags_cf.png',
			
		},
		{
			country: "Chad",
			img: 'img_flags_td.png',
			
		},
		{
			country: "Chile",
			img: 'img_flags_cl.png',
			
		},
		{
			country: "China",
			img: 'img_flags_cn.png',
			
		},
		{
			country: "Colombia",
			img: 'img_flags_co.png',
			
		},
		{
			country: "Comoros",
			img: 'img_flags_km.png',
			
		},
		{
			country: "Costa Rica",
			img: 'img_flags_cr.png',
			
		},
		{
			country: "Cote d’Ivoire",
			img: 'img_flags_ci.png',
			
		},
		{
			country: "Croatia",
			img: 'img_flags_hr.png',
			
		},
		{
			country: "Cuba",
			img: 'img_flags_cu.png',
			
		},
		{
			country: "Cyprus",
			img: 'img_flags_cy.png',
			
		},
		{
			country: "Czech",
			img: 'img_flags_cz.png',
			
		},
		{
			country: "Denmark",
			img: 'img_flags_dk.png',
			
		},
		{
			country: "Djibouti",
			img: 'img_flags_dj.png',
			
		},
		{
			country: "Dominica",
			img: 'img_flags_dm.png',
			
		},
		{
			country: "Dominican Republic",
			img: 'img_flags_do.png',
			
		},
		{
			country: "DPRK",
			img: 'img_flags_kp.png',
			
		},
		{
			country: "DR Congo",
			img: 'img_flags_cd.png',
			
		},
		{
			country: "Ecuador",
			img: 'img_flags_ec.png',
			
		},
		{
			country: "Egypt",
			img: 'img_flags_eg.png',
			
		},
		{
			country: "Equatorial Guinea",
			img: 'img_flags_gq.png',
			
		},
		{
			country: "Eritrea",
			img: 'img_flags_er.png',
			
		},
		{
			country: "Estonia",
			img: 'img_flags_ee.png',
			
		},
		{
			country: "Ethiopia",
			img: 'img_flags_et.png',
			
		},
		{
			country: "Federated States of Micronesia",
			img: 'img_flags_fm.png',
			
		},
		{
			country: "Fiji",
			img: 'img_flags_fj.png',
			
		},
		{
			country: "Finland",
			img: 'img_flags_fi.png',
			
		},
		{
			country: "France",
			img: 'img_flags_fr.png',
			
		},
		{
			country: "Gabon",
			img: 'img_flags_ga.png',
			
		},
		{
			country: "Gambia",
			img: 'img_flags_gm.png',
			
		},
		{
			country: "Georgia",
			img: 'img_flags_ge.png',
			
		},
		{
			country: "Germany",
			img: 'img_flags_de.png',
			
		},
		{
			country: "Ghana",
			img: 'img_flags_gh.png',
			
		},
		{
			country: "Greece",
			img: 'img_flags_gr.png',
			
		},
		{
			country: "Grenada",
			img: 'img_flags_gd.png',
			
		},
		{
			country: "Guatemala",
			img: 'img_flags_gt.png',
			
		},
		{
			country: "Guinea",
			img: 'img_flags_gn.png',
			
		},
		{
			country: "Guinea bissau",
			img: 'img_flags_gw.png',
			
		},
		{
			country: "Guyana",
			img: 'img_flags_gy.png',
			
		},
		{
			country: "Haiti",
			img: 'img_flags_ht.png',
			
		},
		{
			country: "Honduras",
			img: 'img_flags_hn.png',
			
		},
		{
			country: "Hungary",
			img: 'img_flags_hu.png',
			
		},
		{
			country: "Iceland",
			img: 'img_flags_is.png',
			
		},
		{
			country: "Indonesia",
			img: 'img_flags_id.png',
			
		},
		{
			country: "Iran",
			img: 'img_flags_ir.png',
			
		},
		{
			country: "Iraq",
			img: 'img_flags_iq.png',
			
		},
		{
			country: "Ireland",
			img: 'img_flags_ie.png',
			
		},
		{
			country: "Israel",
			img: 'img_flags_il.png',
			
		},
		{
			country: "Italy",
			img: 'img_flags_it.png',
			
		},
		{
			country: "Jamaica",
			img: 'img_flags_jm.png',
			
		},
		{
			country: "Japan",
			img: 'img_flags_jp.png',
			
		},
		{
			country: "Jordan",
			img: 'img_flags_jo.png',
			
		},
		{
			country: "Kazakhstan",
			img: 'img_flags_kz.png',
			
		},
		{
			country: "Kenya",
			img: 'img_flags_ke.png',
			
		},
		{
			country: "Kiribati",
			img: 'img_flags_ki.png',
			
		},
		{
			country: "Kuwait",
			img: 'img_flags_kw.png',
			
		},
		{
			country: "Kyrgyzstan",
			img: 'img_flags_kg.png',
			
		},
		{
			country: "Laos",
			img: 'img_flags_la.png',
			
		},
		{
			country: "Latvia",
			img: 'img_flags_lv.png',
			
		},
		{
			country: "Lebanon",
			img: 'img_flags_lb.png',
			
		},
		{
			country: "Lesotho",
			img: 'img_flags_ls.png',
			
		},
		{
			country: "Liberia",
			img: 'img_flags_lr.png',
			
		},
		{
			country: "Libya",
			img: 'img_flags_ly.png',
			
		},
		{
			country: "Liechtenstein",
			img: 'img_flags_li.png',
			
		},
		{
			country: "Lithuania",
			img: 'img_flags_lt.png',
			
		},
		{
			country: "Luxembourg",
			img: 'img_flags_lu.png',
			
		},
		{
			country: "Macedonia",
			img: 'img_flags_mk.png',
			
		},
		{
			country: "Madagascar",
			img: 'img_flags_mg.png',
			
		},
		{
			country: "Malawi",
			img: 'img_flags_mw.png',
			
		},
		{
			country: "Malaysia",
			img: 'img_flags_my.png',
			
		},
		{
			country: "Maldives",
			img: 'img_flags_mv.png',
			
		},
		{
			country: "Mali",
			img: 'img_flags_ml.png',
			
		},
		{
			country: "Malta",
			img: 'img_flags_mt.png',
			
		},
		{
			country: "Marshall Islands",
			img: 'img_flags_mh.png',
			
		},
		{
			country: "Mauritania",
			img: 'img_flags_mr.png',
			
		},
		{
			country: "Mauritius",
			img: 'img_flags_mu.png',
			
		},
		{
			country: "Mexico",
			img: 'img_flags_mx.png',
			
		},
		{
			country: "Moldova",
			img: 'img_flags_md.png',
			
		},
		{
			country: "Monaco",
			img: 'img_flags_mc.png',
			
		},
		{
			country: "Mongolia",
			img: 'img_flags_mn.png',
			
		},
		{
			country: "Montenegro",
			img: 'img_flags_me.png',
			
		},
		{
			country: "Morocco",
			img: 'img_flags_ma.png',
			
		},
		{
			country: "Mozambique",
			img: 'img_flags_mz.png',
			
		},
		{
			country: "Myanmar",
			img: 'img_flags_mm.png',
			
		},
		{
			country: "Namibia",
			img: 'img_flags_na.png',
			
		},
		{
			country: "Nauru",
			img: 'img_flags_nr.png',
			
		},
		{
			country: "Nepal",
			img: 'img_flags_np.png',
			
		},
		{
			country: "Netherlands",
			img: 'img_flags_nl.png',
			
		},
		{
			country: "New Zealand",
			img: 'img_flags_nz.png',
			
		},
		{
			country: "Nicaragua",
			img: 'img_flags_ni.png',
			
		},
		{
			country: "Niger",
			img: 'img_flags_ne.png',
			
		},
		{
			country: "Nigeria",
			img: 'img_flags_ng.png',
			
		},
		{
			country: "Norway",
			img: 'img_flags_no.png',
			
		},
		{
			country: "Oman",
			img: 'img_flags_om.png',
			
		},
		{
			country: "Pakistan",
			img: 'img_flags_pk.png',
			
		},
		{
			country: "Palau",
			img: 'img_flags_pw.png',
			
		},
		{
			country: "Panama",
			img: 'img_flags_pa.png',
			
		},
		{
			country: "Papua New Guinea",
			img: 'img_flags_pg.png',
			
		},
		{
			country: "Paraguay",
			img: 'img_flags_py.png',
			
		},
		{
			country: "Peru",
			img: 'img_flags_pe.png',
			
		},
		{
			country: "Philippines",
			img: 'img_flags_ph.png',
			
		},
		{
			country: "Poland",
			img: 'img_flags_pl.png',
			
		},
		{
			country: "Portugal",
			img: 'img_flags_pt.png',
			
		},
		{
			country: "Qatar",
			img: 'img_flags_qa.png',
			
		},
		{
			country: "Republic of the Congo",
			img: 'img_flags_cg.png',
			
		},
		{
			country: "Romania",
			img: 'img_flags_ro.png',
			
		},
		{
			country: "Russia",
			img: 'img_flags_ru.png',
			
		},
		{
			country: "Rwanda",
			img: 'img_flags_rw.png',
			
		},
		{
			country: "Saint Kitts and Nevis",
			img: 'img_flags_kn.png',
			
		},
		{
			country: "Saint lucia",
			img: 'img_flags_lc.png',
			
		},
		{
			country: "Saint Vincent and the Grenadines",
			img: 'img_flags_vc.png',
			
		},
		{
			country: "Salvador",
			img: 'img_flags_sv.png',
			
		},
		{
			country: "San marino",
			img: 'img_flags_sm.png',
			
		},
		{
			country: "Sao Tome and Principe",
			img: 'img_flags_st.png',
			
		},
		{
			country: "Saudi Arabia",
			img: 'img_flags_sa.png',
			
		},
		{
			country: "Senegal",
			img: 'img_flags_sn.png',
			
		},
		{
			country: "Serbia",
			img: 'img_flags_rs.png',
			
		},
		{
			country: "Seychelles",
			img: 'img_flags_sc.png',
			
		},
		{
			country: "Sierra leone",
			img: 'img_flags_sl.png',
			
		},
		{
			country: "Singapore",
			img: 'img_flags_sg.png',
			
		},
		{
			country: "Slovakia",
			img: 'img_flags_sk.png',
			
		},
		{
			country: "Slovenia",
			img: 'img_flags_si.png',
			
		},
		{
			country: "Solomon islands",
			img: 'img_flags_sb.png',
			
		},
		{
			country: "Somalia",
			img: 'img_flags_so.png',
			
		},
		{
			country: "South Africa",
			img: 'img_flags_za.png',
			
		},
		{
			country: "South Ossetia",
			img: 'img_flags_os.png',
			
		},
		{
			country: "South Sudan",
			img: 'img_flags_ss.png',
			
		},
		{
			country: "Spain",
			img: 'img_flags_es.png',
			
		},
		{
			country: "Sri Lanka",
			img: 'img_flags_lk.png',
			
		},
		{
			country: "State of Palestine",
			img: 'img_flags_ps.png',
			
		},
		{
			country: "Sudan",
			img: 'img_flags_sd.png',
			
		},
		{
			country: "Suriname",
			img: 'img_flags_sr.png',
			
		},
		{
			country: "Swaziland",
			img: 'img_flags_sz.png',
			
		},
		{
			country: "Sweden",
			img: 'img_flags_se.png',
			
		},
		{
			country: "Switzerland",
			img: 'img_flags_ch.png',
			
		},
		{
			country: "Syria",
			img: 'img_flags_sy.png',
			
		},
		{
			country: "Tajikistan",
			img: 'img_flags_tj.png',
			
		},
		{
			country: "Tanzania",
			img: 'img_flags_tz.png',
			
		},
		{
			country: "Thailand",
			img: 'img_flags_th.png',
			
		},
		{
			country: "The Republic of Korea",
			img: 'img_flags_kr.png',
			
		},
		{
			country: "Togo",
			img: 'img_flags_tg.png',
			
		},
		{
			country: "Tonga",
			img: 'img_flags_to.png',
			
		},
		{
			country: "Trinidad and Tobago",
			img: 'img_flags_tt.png',
			
		},
		{
			country: "Tunisia",
			img: 'img_flags_tn.png',
			
		},
		{
			country: "Turkey",
			img: 'img_flags_tr.png',
			
		},
		{
			country: "Turkmenistan",
			img: 'img_flags_tm.png',
			
		},
		{
			country: "Tuvalu",
			img: 'img_flags_tv.png',
			
		},
		{
			country: "UAE",
			img: 'img_flags_ae.png',
			
		},
		{
			country: "Uganda",
			img: 'img_flags_ug.png',
			
		},
		{
			country: "Ukraine",
			img: 'img_flags_ua.png',
			
		},
		{
			country: "United Kingdom",
			img: 'img_flags_gb.png',
			
		},
		{
			country: "Uruguay",
			img: 'img_flags_uy.png',
			
		},
		{
			country: "USA",
			img: 'img_flags_us.png',
			
		},
		{
			country: "Uzbekistan",
			img: 'img_flags_uz.png',
			
		},
		{
			country: "Vanuatu",
			img: 'img_flags_vu.png',
			
		},
		{
			country: "Vatican",
			img: 'img_flags_va.png',
			
		},
		{
			country: "Venezuela",
			img: 'img_flags_ve.png',
			
		},
		{
			country: "Vietnam",
			img: 'img_flags_vn.png',
			
		},
		{
			country: "Yemen",
			img: 'img_flags_ye.png',
			
		},
		{
			country: "Zambia",
			img: 'img_flags_zm.png',
			
		},
		{
			country: "Zimbabwe",
			img: 'img_flags_zw.png',
			
		},
	];
