footer
    .foot
        .section
            .underline.foot-order-0
                div
            a(href='#').foot-logo
                +img('logo.png')
            a(href='#').foot-name
                span Electronic Immigrant Investor Visa Lottery
            .underline.mob-only.foot-order-3
                div
            a(href='#').foot-privacy
                span Privacy Policy
            span.foot-copy Copyright © 2019 Department of Immigration Affairs Inc. All rights reserved.
            .underline.foot-order-6
                div
            a(href='tel:18880000000').foot-tel
                svg(width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg")
                    path(d="M8.99062 6.97377C8.96516 6.89706 8.8032 6.78406 8.50484 6.63504C8.42401 6.58807 8.30884 6.52423 8.15981 6.44325C8.01065 6.36227 7.87527 6.28764 7.75389 6.21945C7.63227 6.15127 7.51833 6.08522 7.41187 6.02139C7.39485 6.0086 7.34159 5.97137 7.2521 5.90944C7.16252 5.84769 7.08698 5.80186 7.02507 5.77197C6.9633 5.74226 6.90253 5.7273 6.84286 5.7273C6.75765 5.7273 6.65121 5.78807 6.52341 5.90944C6.39561 6.03097 6.27838 6.16298 6.17189 6.30587C6.06539 6.44869 5.95243 6.5807 5.83323 6.70216C5.71385 6.82367 5.61576 6.88437 5.53914 6.88437C5.50068 6.88437 5.45272 6.87364 5.39525 6.85249C5.3378 6.83119 5.29409 6.81295 5.26409 6.79824C5.23436 6.78321 5.18333 6.75348 5.11083 6.70859C5.0382 6.66383 4.99781 6.63932 4.9893 6.63504C4.4055 6.31109 3.9048 5.94032 3.48712 5.52282C3.06958 5.10508 2.69877 4.60442 2.3749 4.02055C2.37065 4.01202 2.34609 3.97152 2.30138 3.89911C2.2566 3.82663 2.22675 3.77556 2.21184 3.74565C2.19693 3.71585 2.17882 3.67215 2.15755 3.61463C2.13628 3.55711 2.1256 3.5092 2.1256 3.4708C2.1256 3.39414 2.18634 3.29607 2.3078 3.17673C2.42924 3.05747 2.56139 2.94449 2.7041 2.83803C2.84692 2.73156 2.97893 2.61433 3.10041 2.48653C3.22185 2.35867 3.28257 2.25218 3.28257 2.16697C3.28257 2.10734 3.26766 2.04656 3.23786 1.98478C3.20804 1.92288 3.16223 1.84734 3.10041 1.7578C3.03857 1.66831 3.00129 1.61509 2.98849 1.59796C2.92463 1.4915 2.85865 1.37751 2.79039 1.25605C2.72212 1.13461 2.64761 0.999244 2.5666 0.850107C2.48566 0.701038 2.42179 0.585933 2.37486 0.504973C2.22579 0.206722 2.11288 0.0447118 2.03615 0.0192326C2.0063 0.00644818 1.96153 0 1.90192 0C1.7868 0 1.63661 0.02127 1.45125 0.0639444C1.26582 0.106552 1.1199 0.151241 1.01335 0.198192C0.800272 0.287638 0.574429 0.54758 0.335757 0.977929C0.118422 1.37843 0.00976562 1.77484 0.00976562 2.16686C0.00976562 2.28183 0.0172213 2.39368 0.0321327 2.50245C0.0470441 2.61111 0.0736877 2.73365 0.112086 2.87004C0.150416 3.0064 0.181336 3.10769 0.204711 3.17364C0.228108 3.23965 0.27179 3.35789 0.335734 3.52841C0.399589 3.69888 0.437987 3.80324 0.450772 3.84159C0.599908 4.25924 0.776763 4.6321 0.981291 4.96026C1.31781 5.50571 1.77704 6.06941 2.35872 6.65114C2.94042 7.23282 3.50401 7.69203 4.0495 8.02867C4.37762 8.23318 4.75061 8.41001 5.1682 8.55926C5.20657 8.57198 5.31093 8.61029 5.48134 8.67437C5.65181 8.73827 5.77009 8.78195 5.8361 8.80539C5.90212 8.82885 6.00344 8.8598 6.13968 8.89819C6.27621 8.93659 6.39863 8.96323 6.50729 8.97826C6.61601 8.99297 6.72789 9.00056 6.84289 9.00056C7.23488 9.00056 7.63131 8.89184 8.03188 8.67452C8.46218 8.43594 8.72206 8.21005 8.81155 7.99681C8.85861 7.89037 8.90319 7.74442 8.9458 7.55899C8.98854 7.37365 9.00976 7.22348 9.00976 7.10838C9.0099 7.04853 9.00347 7.00386 8.99062 6.97377Z")
                span 1─888─000 0000
            .underline.foot-order-8
                div
            span.foot-address 100 California St, San Francisco, CA  94111, United States
            a(href='mailto:info@ivlottery.com').foot-mail
                span info@ivlottery.com
    - if(fancy || slick)
        +inc('js','js/jquery-3.3.1.min.js')
    - if(fancy)
        +inc('js','js/jquery.fancybox.min.js')
    - if(slick)
        +inc('js','slick.js')
    - if(greensock)
        +inc('js','js/greensock.js')
    +inc('js','js/main.js',true)