header
	.head
		a(href='#').head-logo
			+img('logo.png')
		a(href='#').head-name
			span Electronic Immigrant Investor Visa Lottery
		a(href='#').head-login.head-button
			span Enter
			span.head-login-lock
				span
				span
		.page-select.head-language-select
			.page-select-header.head-button
				span Eng
				span.head-language-arrow
					span
					span
			.page-select-body
				a(href='#').head-button
					span Рус
		a(href='#').participate.mob-none
			span Participate now
			span
	.head-underline
		div