@import "../../../../core/mixins/reset"
@import "../../../../core/mixins/mixins"
@import "vars"
$font_body: 16px

+font_inc($f_reg,'SFProDisplay-Regular.woff2')
+font_inc($f_light,'SFProDisplay-Light.woff2')
+font_inc($f_thin,'SFProDisplay-Thin.woff2')
+font_inc($f_medium,'SFProDisplay-Medium.woff2')
//+font_inc($f_bold,'SFProDisplay-Bold.woff2')
+font_inc($f_semi,'SFProDisplay-Semibold.woff2')
.set
	+wh(100%)
html
	height: 100vh
html,body
	min-height: 100vh
	overflow-x: hidden
body
	+wh(100%)
	+font($font_body,$f_reg,#303030)
$unit: 'px'
@import "media/m"
+mq($mobile-large#{$unit})
	@import "media/ml"
+mq($tablet#{$unit})
	@import "media/t"
+mq($tablet-large#{$unit})
	@import "media/tl"
+mq($desktop#{$unit})
	@import "media/d"
@import "grid/grid"
