extends template/main
append vars
  -
    page_title= 'Главная страница'
block content
    main
      .main
        .youtube
        .mainview
          +img('logo.png').mainview-logo
          h1
            span This is the right time
            span to start your dream
          a(href='#second-view').mainview-scroll.mob-fixed
            span Scroll down
            +img('arr.svg')
          a(href='#').participate.mob-only.mob-fixed
            span Participate now
        .mainview.mainview-second#second-view
          h2
            span You'll never be younger than
            span you are at this very moment.
          button.mainview-video
            span Watch the film
            +img('youtube-icon.svg')

