
extends template/main
append vars
	-
		page_title = 'Главная страница'
		greensock = false

block content
	header#header
		.head
			a(href='#').head-logo
				+img('logo.png')
			a(href='#').head-name
				span Electronic Immigrant Investor Visa Lottery
			.page-select.head-language-select
				.page-select-header.head-button
					span Eng
					span.head-language-arrow
						span
						span
				.page-select-body
					a(href='#').head-button
						span Рус
			button.head-login.head-button#loginHead
				span Enter
				include ../img/lock.svg
			button.mob-none.part.button-blue.button-cabinet
				span Apply now
				span
		.head-underline
			div
	main.mainPage
		.youtube.display-none
			iframe(src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)#iframe
			button.close-form
				svg(width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg")
					path(fill-rule="evenodd" clip-rule="evenodd" d="M8.91602 7.07076C8.40664 6.56138 7.58077 6.56138 7.07139 7.07076C6.56201 7.58014 6.56201 8.40601 7.07139 8.91539L12.2975 14.1415L7.07078 19.3683C6.5614 19.8777 6.5614 20.7035 7.07078 21.2129C7.58016 21.7223 8.40602 21.7223 8.9154 21.2129L14.1422 15.9862L19.3689 21.2129C19.8783 21.7223 20.7041 21.7223 21.2135 21.2129C21.7229 20.7035 21.7229 19.8777 21.2135 19.3683L15.9868 14.1415L21.2129 8.91542C21.7223 8.40604 21.7223 7.58017 21.2129 7.07079C20.7035 6.56141 19.8777 6.56141 19.3683 7.07079L14.1422 12.2969L8.91602 7.07076Z" fill="#C14747")
		.main
			.mainview
				.section
					.mainview-cont#first-view
						+img('logo.png').mainview-logo
						h1
							span This is the right time
							span to start your dream
						a(href='#second-view').mainview-scroll.mob-fixed#scroll-1
							span Scroll down
							+img('arr.svg')
						button.button-blue.part#participate
							span Apply now
							span
					.mainview-cont.mainview-second#second-view
						h2
							span You'll never be younger than
							span you are at this very moment.
						button.mainview-video
							span Watch the film
							+img('youtube-icon.svg')
						a(href='#third-view').mainview-scroll.mob-fixed.display-none#scroll-2
							span Scroll down
							+img('arr.svg')
			.main-anchor#third-view
		.program
			.section
				.program-cont
					.program-text
						p The Electronic Immigrant Investor Visa Lottery program registration period has no time restrictions and works by Sweepstakes principle. Each round designed for submission by 100,000 Participating Tickets*. No purchase necessary to enter or win. Most countries have variations in their laws and regulations regarding sweepstakes. You understand that it is your responsibility to ensure you are complying with the rules and regulations of your locality.
						br
						p Randomly selected Participating Ticket allows its holder to apply for Immigrant Investor Visa with investments not less than $900,000 (U.S.) provided by this program. Holder of randomly selected Participating Ticket who is not eligible for application and/or who wishes not to apply for Immigrant Investor Visa should receive $500,000 (U.S.) in compensation only.
					.program-steps
						h5 How to participate
						h6 Step 1
						span Fill up Entry Form
						h6 Step 2
						span Get Tickets
						h6 Step 3
						span Receive Results
						h6 Step 4
						span Apply for Investor Visa
				.underline
					div
		.count
			.section
				h3 The Final Countdown
				.count-row
					.count-cont
						span.count-span.count-random 000 000
						span.count-desc Winner Ticket
					.count-cont
						span.count-span
							span.count-span-hour 24
							span .
							span.count-span-minute 00
							span .
							span.count-span-second 00
						span.count-desc Time to Results
				.underline
					div
		.statistic
			.section
				.statistic-cont
					h2 Statistics
					.statistic-slider
						input(type='radio' name='statictic-slide' id='stat-slide1' style='display:none' checked)
						input(type='radio' name='statictic-slide' id='stat-slide2' style='display:none')
						input(type='radio' name='statictic-slide' id='stat-slide3' style='display:none')
						input(type='radio' name='statictic-slide' id='stat-slide4' style='display:none')
						.statistic-slider-cont
							.statistic-slide
								span 6
								span Round
							.statistic-slide-line
							.statistic-slide
								span 274
								span Entrants
							.statistic-slide-line
							.statistic-slide
								span 180
								span Participating Tickets
							.statistic-slide-line
							.statistic-slide
								span 12
								span.statistic-slide-i
									span i
								span Countries
						.statistic-slider-cont-label
							label(for='stat-slide1')
							label(for='stat-slide2')
							label(for='stat-slide3')
							label(for='stat-slide4')
		.typycal(data-class='first' data-change='second')
			.typycal-bgc.typycal-one.equal
			.typycal-bgc.typycal-two.equalBgc
			.typycal-section
				.typycal-cont
					h2 Freedom is a chance to be better without anyone’s permission.”
						span ”
					.typycal-cont-text
						p The Bill of Rights is a beauty! Human freedom is not just a good idea, it's the law in the United States.#[br]#[br]To live in a country where freedom of speech, freedom of assembly, and freedom of religion are written into its very founding document is awesome! The constitutional and legislative freedom offered to people is the wonderful benefit of being a citizen of the United States.#[br]#[br]In America, people greatly value their freedom and they don’t take the First-Amendment rights for granted.
						.typycal-right
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M26.8136 0H5.18417C4.06486 0 3.1543 0.910625 3.1543 2.02988V29.9701C3.1543 31.0894 4.06492 31.9999 5.18417 31.9999H26.8137C27.933 31.9999 28.8435 31.0893 28.8435 29.9701V2.02988C28.8435 0.910625 27.9329 0 26.8136 0ZM11.5965 1.27488H20.4014V4.27087H11.5965V1.27488ZM10.959 5.54581H21.0389C21.3909 5.54581 21.6763 5.26038 21.6763 4.90837V4.14344H23.9327V27.8566H11.7272L11.7199 24.8116C11.7191 24.4601 11.434 24.1756 11.0825 24.1756H8.06517V4.14344H10.3215V4.90837C10.3215 5.26038 10.607 5.54581 10.959 5.54581ZM10.4503 27.0208L8.88017 25.4506H10.4465L10.4503 27.0208ZM27.5686 29.9701C27.5686 30.3864 27.2299 30.7251 26.8136 30.7251H5.18417C4.76786 30.7251 4.42917 30.3864 4.42917 29.9701V2.02988C4.42917 1.61356 4.76786 1.27488 5.18417 1.27488H10.3215V2.8685H7.42773C7.07567 2.8685 6.7903 3.15394 6.7903 3.50594V24.8997C6.7903 25.0687 6.85748 25.2308 6.97698 25.3504L10.5713 28.9447C10.6908 29.0642 10.853 29.1314 11.022 29.1314H24.57C24.9221 29.1314 25.2075 28.846 25.2075 28.494V3.506C25.2075 3.154 24.9221 2.86856 24.57 2.86856H21.6762V1.27488H26.8136C27.2299 1.27488 27.5686 1.61356 27.5686 2.02988V29.9701Z")
									path(d="M10.9256 20.408H10.7331C10.3811 20.408 10.0957 20.6934 10.0957 21.0454C10.0957 21.3974 10.3811 21.6828 10.7331 21.6828H10.9256C11.2776 21.6828 11.563 21.3974 11.563 21.0454C11.563 20.6934 11.2776 20.408 10.9256 20.408Z")
									path(d="M21.2656 20.408H13.1941C12.842 20.408 12.5566 20.6934 12.5566 21.0454C12.5566 21.3974 12.842 21.6828 13.1941 21.6828H21.2656C21.6177 21.6828 21.9031 21.3974 21.9031 21.0454C21.9031 20.6934 21.6177 20.408 21.2656 20.408Z")
									path(d="M21.2657 16.3643H10.7331C10.3811 16.3643 10.0957 16.6497 10.0957 17.0017C10.0957 17.3537 10.3811 17.6391 10.7331 17.6391H21.2657C21.6178 17.6391 21.9032 17.3537 21.9032 17.0017C21.9032 16.6497 21.6178 16.3643 21.2657 16.3643Z")
									path(d="M21.2657 12.3204H10.7331C10.3811 12.3204 10.0957 12.6059 10.0957 12.9579C10.0957 13.3099 10.3811 13.5953 10.7331 13.5953H21.2657C21.6178 13.5953 21.9032 13.3099 21.9032 12.9579C21.9032 12.6059 21.6178 12.3204 21.2657 12.3204Z")
									path(d="M21.2657 8.22302H10.7331C10.3811 8.22302 10.0957 8.50846 10.0957 8.86046C10.0957 9.21246 10.3811 9.4979 10.7331 9.4979H21.2657C21.6178 9.4979 21.9032 9.21246 21.9032 8.86046C21.9032 8.50846 21.6178 8.22302 21.2657 8.22302Z")
								p
									span 10
									span Bill of Rights Amendments
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M32 22.5625V20.6875H19.3896L18.6445 16.9375H13.3555L12.6104 20.6875H0V22.5625H12.2378L11.4805 26.375H7.5625V32H24.4375V26.375H20.5195L19.7622 22.5625H32ZM22.5625 30.125H9.4375V28.25H22.5625V30.125ZM13.3921 26.375L14.8945 18.8125H17.1055L18.6079 26.375H13.3921Z")
									path(d="M3.81323 18.8125H9.43823V15H11.5327L10.2097 8.75342C10.0042 7.78345 9.40039 6.93213 8.55298 6.41797C8.10938 6.14893 7.0271 5.625 6.62573 5.625C6.22437 5.625 5.14209 6.14893 4.69849 6.41797C3.85107 6.93213 3.24731 7.78345 3.04199 8.75342L1.71875 15H3.81323V18.8125ZM4.87622 9.14185C5.0625 8.26196 5.77686 7.88892 6.62573 7.55566C7.47607 7.88965 8.18921 8.26294 8.37524 9.14185L9.21875 13.125H7.56323V16.9375H5.68823V13.125H4.03271L4.87622 9.14185Z")
									path(d="M9.4375 2.8125C9.4375 1.26172 8.17578 0 6.625 0C5.07422 0 3.8125 1.26172 3.8125 2.8125C3.8125 4.36328 5.07422 5.625 6.625 5.625C8.17578 5.625 9.4375 4.36328 9.4375 2.8125ZM6.625 3.75C6.10815 3.75 5.6875 3.32935 5.6875 2.8125C5.6875 2.29565 6.10815 1.875 6.625 1.875C7.14185 1.875 7.5625 2.29565 7.5625 2.8125C7.5625 3.32935 7.14185 3.75 6.625 3.75Z")
									path(d="M28.1875 2.8125C28.1875 1.26172 26.9258 0 25.375 0C23.8242 0 22.5625 1.26172 22.5625 2.8125C22.5625 4.36328 23.8242 5.625 25.375 5.625C26.9258 5.625 28.1875 4.36328 28.1875 2.8125ZM25.375 3.75C24.8582 3.75 24.4375 3.32935 24.4375 2.8125C24.4375 2.29565 24.8582 1.875 25.375 1.875C25.8918 1.875 26.3125 2.29565 26.3125 2.8125C26.3125 3.32935 25.8918 3.75 25.375 3.75Z")
									path(d="M22.5626 12.4714V18.8125H28.1876V12.4714L29.8368 9.99756C31.0814 8.13062 29.7401 5.625 27.4967 5.625H23.2536C21.0099 5.625 19.6691 8.1311 20.9135 9.99756L22.5626 12.4714ZM23.2536 7.5H27.4967C28.246 7.5 28.6928 8.3335 28.2768 8.95752L26.3126 11.9036V16.9375H24.4376V11.9036L22.4735 8.95752C22.0578 8.33398 22.5036 7.5 23.2536 7.5Z")
								p
									span Equal Rights
									span Racial, gender, disability, LGBT, Intersex, Privacy and accused
		.typycal(data-class='first-white' data-change='second').typycal-position.typycal-tobe
			.typycal-bgc.typycal-one.toBe
			.typycal-bgc.typycal-two.toBeBgc
			.typycal-section
				.typycal-cont
					h2 Be who you want to be. If you dream it, you can do it.”
						span ”
					.typycal-cont-text
						p Americans are less concerned about doing it 'right' and more concerned about getting it done. Done, perfect!#[br]#[br]The entrepreneurial spirit runs deep. In no other country is an unlikely story as likely as in the United States. We don't understand the concept of 'getting ideas above your station' - we want people to dream big. We love audacity!#[br]#[br]The goal is Run for it. Risk it. Shoe shine kid who turns a street-side stand into a multi-million-dollar business? Great. Garage band, that develops a following and eventually sells ten million concert tickets? Excellent.
						.typycal-right
							div
								svg(width="32" height="26" viewBox="0 0 32 26" xmlns="http://www.w3.org/2000/svg")
									path(d="M11.25 6.4375H7.5V12.0625H3.75V17.6875H0V25.1875H32C32 24.0112 32 2.59497 32 0.8125H11.25V6.4375ZM9.375 8.3125H24.5V12.0625C22.7109 12.0625 11.1636 12.0625 9.375 12.0625V8.3125ZM17 23.3125H1.875V19.5625H17V23.3125ZM5.625 17.6875V13.9375H20.75V17.6875C18.9609 17.6875 7.41357 17.6875 5.625 17.6875ZM30.125 23.3125H18.875V19.5625H22.625V13.9375H26.375V8.3125H30.125V23.3125ZM30.125 2.6875V6.4375C28.6426 6.4375 15.437 6.4375 13.125 6.4375V2.6875H30.125Z")
								p
									span 1200+
									span Careers to choose from
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M25.4375 21.0625H6.5625C2.94394 21.0625 0 24.0064 0 27.625V32H32V27.625C32 24.0064 29.0561 21.0625 25.4375 21.0625ZM17.6117 22.9375L17.143 24.8125H14.8569L14.3882 22.9375H17.6117ZM7.5 30.125H1.875V27.625C1.875 25.0403 3.97781 22.9375 6.5625 22.9375H7.5V30.125ZM12.401 30.125H9.375V22.9375H12.4556L13.1671 25.7837L12.401 30.125ZM14.3049 30.125L14.9116 26.6875H17.0884L17.6951 30.125H14.3049ZM22.625 30.125H19.599L18.8329 25.7837L19.5444 22.9375H22.625V30.125ZM30.125 30.125H24.5V22.9375H25.4375C28.0222 22.9375 30.125 25.0403 30.125 27.625V30.125Z")
									path(d="M16 0C10.7099 0 6.40625 4.30369 6.40625 9.59375C6.40625 14.8838 10.7099 19.1875 16 19.1875C21.2901 19.1875 25.5938 14.8838 25.5938 9.59375C25.5938 4.30369 21.2901 0 16 0ZM16 17.3125C11.7439 17.3125 8.28125 13.8499 8.28125 9.59375C8.28125 5.33763 11.7439 1.875 16 1.875C20.2561 1.875 23.7188 5.33763 23.7188 9.59375C23.7188 13.8499 20.2561 17.3125 16 17.3125Z")
									path(d="M16 3.72632C12.7778 3.72632 10.1562 6.35838 10.1562 9.59363C10.1562 12.8289 12.7778 15.4609 16 15.4609C19.2222 15.4609 21.8438 12.8289 21.8438 9.59363C21.8438 6.35838 19.2222 3.72632 16 3.72632ZM16 13.5859C13.8116 13.5859 12.0312 11.795 12.0312 9.59363C12.0312 7.39226 13.8116 5.60132 16 5.60132C18.1884 5.60132 19.9688 7.39226 19.9688 9.59363C19.9688 11.795 18.1884 13.5859 16 13.5859Z")
									path(d="M16.9375 7.53125H15.0625V11.6562H16.9375V7.53125Z")
								p
									span 5.6 million+
									span Entrepreneurs
							div
								svg(width="32" height="28" viewBox="0 0 32 28" xmlns="http://www.w3.org/2000/svg")
									path(d="M31.5799 7.97363L16.332 0.471601C16.1226 0.368516 15.8773 0.368516 15.6679 0.471601L0.420122 7.97363C0.162934 8.10019 0 8.36189 0 8.64858V26.162C0 26.9581 0.647746 27.6059 1.4439 27.6059H30.556C31.3523 27.6059 32 26.9581 32 26.162V8.64858C32 8.36189 31.8371 8.10019 31.5799 7.97363ZM25.1899 17.9589H6.81V15.3748H25.1899V17.9589ZM6.81 19.4633H25.1899V22.0475H6.81V19.4633ZM25.1899 13.8704H6.81V11.1882H25.1899V13.8704ZM6.81 23.5519H25.1899V26.1015H6.81V23.5519ZM30.4956 26.1015H26.6943V10.436C26.6943 10.0205 26.3576 9.68381 25.9421 9.68381H6.05779C5.64238 9.68381 5.30559 10.0205 5.30559 10.436V26.1015H1.50441V9.11678L16 1.98484L30.4956 9.11678V26.1015Z")
								p
									span 50%+
									span Companies started in garage
		.typycal(data-class='first-white' data-change='second-white').typycal-position.typycal-every
			.typycal-bgc.typycal-one.every
			.typycal-bgc.typycal-two.everyBgc
			.typycal-section
				.typycal-cont
					h2 Every choice you make, makes you.”
						span ”
					.typycal-cont-text
						p There’s a sense of openness and possibility. The vast majority of people go about their jobs, hobbies, and various choices of entertainment without ever being interfered with by the government or the police. You want to drive 3,000 miles, across half a dozen different landscapes and environments? You can do it, on smooth, well-kept roads, no checkpoints, no permits! You want a different career? Go get it. You want to start you own business?  Show us what you got and that provides your idea with a wealth of opportunities to start your own company.
						.typycal-right
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M30.6954 15.9994C31.5435 14.9416 31.9089 13.5547 31.6617 12.191C31.4029 10.764 30.5272 9.56774 29.2934 8.88999C29.6971 7.48291 29.432 5.93894 28.5323 4.739C27.6424 3.55233 26.2249 2.84382 24.7407 2.84382C24.5302 2.84382 24.3208 2.85786 24.1133 2.88575C23.3847 1.16826 21.6816 0 19.7551 0C18.2272 0 16.8661 0.727314 15.9998 1.85398C15.1336 0.727314 13.7725 0 12.2446 0C10.3172 0 8.61345 1.16931 7.88536 2.8881C7.67742 2.86028 7.46733 2.8463 7.25574 2.8463C5.74926 2.8463 4.36784 3.53665 3.46576 4.74057C2.56676 5.94051 2.30201 7.48434 2.70554 8.89123C1.47171 9.56891 0.596083 10.7654 0.33734 12.1932C0.0906789 13.5566 0.456328 14.943 1.30426 16.0006C0.456132 17.0584 0.0906789 18.4453 0.337993 19.8091C0.596736 21.2361 1.47249 22.4323 2.70619 23.1099C2.30253 24.5171 2.56761 26.0611 3.46727 27.261C4.35732 28.4477 5.77473 29.1562 7.25887 29.1562C7.46936 29.1562 7.67879 29.1421 7.88621 29.1143C8.61489 30.8318 10.3179 32 12.2446 32C13.7724 32 15.1335 31.2727 15.9998 30.146C16.8661 31.2727 18.2272 32 19.7551 32C21.6825 32 23.3863 30.8307 24.1143 29.1119C24.3223 29.1397 24.5323 29.1537 24.7439 29.1537C26.2504 29.1537 27.632 28.4633 28.534 27.2594C29.4329 26.0595 29.6977 24.5157 29.2941 23.1088C30.528 22.4311 31.4036 21.2346 31.6625 19.8068C31.909 18.4434 31.5433 17.057 30.6954 15.9994ZM15.0202 27.2653C15.0202 28.7958 13.7751 30.0408 12.2446 30.0408C10.9187 30.0408 9.77349 29.0971 9.52154 27.797L9.50821 27.7283C9.48274 27.5762 9.46922 27.4209 9.46922 27.2653C9.46922 26.8133 9.57711 26.3781 9.77962 25.9882C10.5161 26.4407 11.3648 26.6833 12.251 26.6832L12.2509 24.724C11.5095 24.7241 10.8124 24.4354 10.2882 23.9111C9.76402 23.387 9.4753 22.6901 9.47523 21.9487L7.51605 21.949C7.51612 22.9093 7.80085 23.8256 8.32911 24.6027C7.81182 25.36 7.52748 26.2503 7.512 27.185C7.42802 27.1928 7.34364 27.197 7.25894 27.197C6.37515 27.197 5.56444 26.7919 5.03474 26.0856C4.38286 25.2162 4.29946 24.0381 4.8223 23.0845L5.05492 22.6602L4.65884 21.7576L4.21914 21.6288C3.20291 21.3312 2.4545 20.5 2.26583 19.4596C2.10067 18.5486 2.40304 17.6208 3.05799 16.9796H7.61185C7.7983 17.8704 8.23801 18.6892 8.89649 19.3478C9.75546 20.2036 10.9393 20.7347 12.2447 20.7347H15.0202V27.2653ZM15.0202 18.7755H12.2447C10.7668 18.7755 9.55523 17.6142 9.47386 16.1562C9.4736 16.1514 9.47308 16.1466 9.47282 16.1417C9.47047 16.0948 9.46922 16.0475 9.46922 16.0001C9.46922 15.2586 9.75801 14.5617 10.2822 14.0375L8.89695 12.6521C8.23827 13.3107 7.7985 14.1295 7.61192 15.0204H3.05682C2.40265 14.3794 2.10054 13.4523 2.26511 12.5423C2.45378 11.5013 3.20225 10.6698 4.21842 10.3724L4.65825 10.2437L5.0542 9.34106L4.82158 8.91683C4.29881 7.96317 4.38201 6.78498 5.03357 5.91536C5.56209 5.20999 6.37202 4.80549 7.25561 4.80549C7.34155 4.80549 7.42704 4.80973 7.51194 4.81757C7.52787 5.75138 7.81215 6.64072 8.32898 7.39736C7.80072 8.17443 7.51598 9.09068 7.51592 10.0511L9.4751 10.0513C9.47517 9.30997 9.76389 8.61316 10.288 8.08895C10.8123 7.56473 11.5093 7.27602 12.2505 7.27602C12.2507 7.27602 12.2509 5.31683 12.2509 5.31683C11.3645 5.31683 10.516 5.55944 9.7795 6.01182C9.57705 5.62188 9.46922 5.18668 9.46922 4.73469C9.46922 4.57972 9.48268 4.42488 9.50795 4.27344L9.5216 4.2031C9.77349 2.90286 10.9188 1.95918 12.2446 1.95918C13.7751 1.95918 15.0202 3.20424 15.0202 4.73469V18.7755ZM16.9794 4.73482C16.9794 3.20424 18.2246 1.95918 19.7551 1.95918C21.081 1.95918 22.2262 2.90286 22.4782 4.2031L22.4913 4.27096C22.5169 4.42325 22.5304 4.57887 22.5304 4.73469C22.5304 5.18668 22.4226 5.62188 22.22 6.01175C21.4835 5.55938 20.6349 5.3167 19.7487 5.31677L19.7488 7.27595C20.4902 7.27589 21.1872 7.5646 21.7115 8.08895C22.2357 8.61296 22.5243 9.30991 22.5244 10.0513L24.4836 10.051C24.4835 9.09061 24.1988 8.1743 23.6706 7.39729C24.1879 6.64 24.4722 5.74968 24.4877 4.81502C24.5717 4.80725 24.656 4.80307 24.7408 4.80307C25.6246 4.80307 26.4352 5.20816 26.965 5.91445C27.6168 6.78387 27.7003 7.96193 27.1774 8.91559L26.9443 9.34093L27.1412 9.78416L27.341 10.2425L27.7807 10.3713C28.797 10.6689 29.5454 11.5001 29.734 12.5406C29.8992 13.4515 29.5968 14.3794 28.9417 15.0205H24.3879C24.2014 14.1297 23.7617 13.311 23.1032 12.6523C22.2441 11.7965 21.0604 11.2654 19.7549 11.2654H16.9794V4.73482ZM29.7345 19.4576C29.5458 20.4987 28.7974 21.3302 27.7813 21.6276L27.3425 21.7561L26.9459 22.66L27.178 23.0832C27.7008 24.0368 27.6175 25.215 26.966 26.0846C26.4375 26.7901 25.6276 27.1946 24.7439 27.1945C24.658 27.1945 24.5726 27.1903 24.4877 27.1824C24.4717 26.2487 24.1874 25.3593 23.6706 24.6027C24.1989 23.8256 24.4836 22.9094 24.4838 21.949L22.5246 21.9487C22.5244 22.6901 22.2358 23.387 21.7116 23.9111C21.1874 24.4353 20.4905 24.724 19.7491 24.724C19.7489 24.724 19.7488 26.6832 19.7488 26.6832C20.6352 26.6832 21.4837 26.4406 22.2202 25.9882C22.4227 26.3781 22.5306 26.8133 22.5306 27.2653C22.5306 27.4211 22.517 27.5767 22.4915 27.729L22.4783 27.797C22.2262 29.0971 21.0809 30.0408 19.7551 30.0408C18.2246 30.0408 16.9794 28.7958 16.9794 27.2653V13.2245H19.7549C21.2329 13.2245 22.4444 14.3858 22.5258 15.8438C22.5261 15.8486 22.5266 15.8534 22.5269 15.8583C22.5292 15.9052 22.5304 15.9525 22.5304 15.9999C22.5304 16.7414 22.2417 17.4383 21.7175 17.9624L23.1027 19.3479C23.7613 18.6893 24.2012 17.8705 24.3878 16.9796H28.9429C29.597 17.6206 29.8991 18.5477 29.7345 19.4576Z")
								p
									span Ideas
									span Begin here
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M32 6.16675C32 2.76636 29.2336 0 25.8333 0C20.9163 0 18.0042 5.48975 20.6812 9.55103L19.7217 10.5105C17.363 8.38135 13.9678 8.02515 11.2598 9.49194L7.0603 5.29272C8.22168 2.8457 6.42749 0 3.70825 0C1.66357 0 0 1.66357 0 3.70825C0 6.42773 2.84595 8.22144 5.29272 7.06055L9.28149 11.0491C6.74268 13.8613 6.7356 18.1306 9.28149 20.9509L7.42944 22.8027C4.15112 20.8772 0 23.2571 0 27.0625C0 29.7852 2.21484 32 4.9375 32C8.7417 32 11.1228 27.8494 9.19727 24.5706L11.2598 22.5078C13.9663 23.9736 17.3618 23.6196 19.7217 21.4895L22.4812 24.249C21.3203 26.6958 23.114 29.5417 25.8333 29.5417C27.8782 29.5417 29.5417 27.8782 29.5417 25.8333C29.5417 23.114 26.6958 21.3203 24.249 22.4812L21.2788 19.511C22.4514 17.3462 22.4746 14.6968 21.2788 12.489L22.449 11.3188C26.5044 13.9919 32 11.0894 32 6.16675ZM25.8333 2.5C27.8552 2.5 29.5 4.14478 29.5 6.16675C29.5 8.18848 27.8552 9.83325 25.8333 9.83325C23.8115 9.83325 22.1667 8.18848 22.1667 6.16675C22.1667 4.14478 23.8115 2.5 25.8333 2.5ZM2.5 3.70825C2.5 3.04199 3.04199 2.5 3.70825 2.5C4.37451 2.5 4.9165 3.04199 4.9165 3.70825C4.9165 4.37451 4.37451 4.91675 3.70825 4.91675C3.04199 4.91675 2.5 4.37451 2.5 3.70825ZM4.9375 29.5C3.59351 29.5 2.5 28.4065 2.5 27.0625C2.5 25.7185 3.59351 24.625 4.9375 24.625C6.28149 24.625 7.375 25.7185 7.375 27.0625C7.375 28.4065 6.28149 29.5 4.9375 29.5ZM14.7708 20.8958C12.0713 20.8958 9.875 18.6995 9.875 16C9.875 13.3005 12.0713 11.1042 14.7708 11.1042C17.4705 11.1042 19.6665 13.3005 19.6665 16C19.6665 18.6995 17.4705 20.8958 14.7708 20.8958ZM27.0417 25.8333C27.0417 26.4995 26.4995 27.0417 25.8333 27.0417C25.167 27.0417 24.625 26.4995 24.625 25.8333C24.625 25.167 25.167 24.625 25.8333 24.625C26.4995 24.625 27.0417 25.167 27.0417 25.8333Z")
								p
									span Easy
									span Business environment
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									g(clip-path="url(#clip0)")
										path(d="M27.268 4.73239C20.9619 -1.57401 11.0437 -1.57962 4.7319 4.73239C-1.57547 11.0395 -1.57913 20.9577 4.7319 27.2688C11.0381 33.5749 20.9563 33.5805 27.268 27.2688C33.5754 20.9614 33.5791 11.0432 27.268 4.73239ZM6.05759 25.9431C0.482147 20.3676 0.482391 11.6333 6.05759 6.05783C11.6328 0.482635 20.3672 0.482635 25.9424 6.05783C31.5176 11.633 31.5178 20.3676 25.9424 25.9431C20.3672 31.5183 11.6328 31.5183 6.05759 25.9431Z")
										path(d="M24.6156 7.38364C19.8551 2.62094 12.1442 2.62045 7.38269 7.38437C2.62 12.1449 2.61951 19.8556 7.38318 24.6173C12.1439 29.3797 19.8546 29.3802 24.6161 24.6165C29.3788 19.8558 29.3793 12.1451 24.6156 7.38364ZM8.70886 23.2916C4.67859 19.2628 4.67761 12.7389 8.70837 8.71005C12.7365 4.68002 19.2604 4.67807 23.2899 8.70932C27.3202 12.7379 27.3212 19.2621 23.2904 23.2909C19.2623 27.3206 12.7384 27.3226 8.70886 23.2916Z")
										path(d="M18.9715 19.5318C19.2415 19.4329 19.442 19.218 19.5313 18.9717L22.5711 10.6294C22.6959 10.2869 22.6109 9.90335 22.3531 9.64578C22.0955 9.38797 21.7118 9.30301 21.3695 9.42776L13.0272 12.4676C12.774 12.5601 12.5633 12.7637 12.4674 13.0274L9.42781 21.3697C9.30232 21.7141 9.38948 22.0972 9.64558 22.3533C9.90315 22.6111 10.2869 22.6961 10.6295 22.5713L18.9715 19.5318ZM18.2735 16.948L15.0509 13.7254L20.1207 11.8782L18.2735 16.948ZM13.7252 15.0511L16.9478 18.2737L11.878 20.1209L13.7252 15.0511Z")
										path(d="M8.50171 16C8.50171 16.5178 8.08203 16.9375 7.56421 16.9375C7.04663 16.9375 6.62695 16.5178 6.62695 16C6.62695 15.4824 7.04663 15.0627 7.56421 15.0627C8.08203 15.0627 8.50171 15.4824 8.50171 16Z")
										path(d="M16.9375 7.56348C16.9375 8.0813 16.5178 8.50098 16 8.50098C15.4822 8.50098 15.0625 8.0813 15.0625 7.56348C15.0625 7.0459 15.4822 6.62622 16 6.62622C16.5178 6.62622 16.9375 7.0459 16.9375 7.56348Z")
										path(d="M25.3748 16C25.3748 16.5178 24.9551 16.9375 24.4375 16.9375C23.9197 16.9375 23.5 16.5178 23.5 16C23.5 15.4824 23.9197 15.0627 24.4375 15.0627C24.9551 15.0627 25.3748 15.4824 25.3748 16Z")
										path(d="M16.9375 24.4365C16.9375 24.9543 16.5178 25.374 16 25.374C15.4822 25.374 15.0625 24.9543 15.0625 24.4365C15.0625 23.9189 15.4822 23.4993 16 23.4993C16.5178 23.4993 16.9375 23.9189 16.9375 24.4365Z")
								p
									span Opportunities
									span
		.typycal(data-class='first' data-change='second-white').typycal-always
			.typycal-bgc.typycal-one.always
			.typycal-bgc.typycal-two.alwaysBgc
			.typycal-section
				.typycal-cont
					h2 In America,&nbsp;#[strong you can always be both.”]
						span ”
					.typycal-cont-text
						p The wonderful thing about being American is the hyphenation. You don't have to give up any other identity to become American. American identity is purely additive.#[br]#[br]The United States of America is a cobbled-together country of immigrants, indigenous, and ex-enslaved which makes the origin stories diverse in a way that few other places are. But the one thing that everyone shares are a desire not to forget where they came from, or to ignore their history, but rather to bring it to the forefront of one’s new, American identities. It’s not a matter of choosing between being from your country or being American. You can be both, it's like a sweater that stretches to fit you, but maintains its integrity.
						.typycal-right
							div
								svg( width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path( d="M30.7401 9.77669C29.5231 6.90506 27.4941 4.46338 24.9409 2.73688C22.3886 1.01038 19.3058 -0.000437358 16 1.41961e-07C13.7966 -0.000124858 11.6909 0.44875 9.77681 1.25988C6.90525 2.47688 4.4635 4.50581 2.73694 7.05894C1.01044 9.61119 -0.000437358 12.694 1.41952e-07 16C-0.000124858 18.2034 0.448813 20.3092 1.25994 22.2233C2.47688 25.0949 4.506 27.5366 7.05906 29.2631C9.61144 30.9896 12.6942 32.0004 16 32C18.2033 32.0001 20.3091 31.5513 22.2232 30.7401C25.0948 29.5232 27.5365 27.4942 29.2631 24.9411C30.9896 22.3888 32.0004 19.3059 32 16C32.0001 13.7965 31.5512 11.6908 30.7401 9.77669ZM28.7758 21.3911C27.7226 23.8774 25.9605 25.9988 23.7461 27.4958C21.5309 28.9929 18.8698 29.8662 16.0001 29.8666C14.0864 29.8665 12.267 29.478 10.6091 28.7757C8.12281 27.7226 6.00138 25.9605 4.50431 23.7461C3.00712 21.5309 2.13375 18.8698 2.13331 16C2.13344 14.0863 2.522 12.2668 3.22419 10.6089C4.27738 8.12263 6.0395 6.00125 8.25394 4.50419C10.4691 3.00706 13.1302 2.13375 16 2.13331C17.9137 2.13344 19.7331 2.52194 21.3909 3.22419C23.8773 4.27731 25.9987 6.03944 27.4958 8.25387C28.9928 10.4691 29.8662 13.1301 29.8666 16.0001C29.8665 17.9137 29.478 19.7332 28.7758 21.3911Z")
									path( d="M24.3504 17.7393H7.65111C7.07473 17.7393 6.60742 18.2066 6.60742 18.7829C6.60742 19.3593 7.07473 19.8266 7.65111 19.8266H24.3504C24.9268 19.8266 25.3941 19.3593 25.3941 18.7829C25.3941 18.2066 24.9268 17.7393 24.3504 17.7393Z")
									path( d="M24.3504 11.4771H7.65111C7.07473 11.4771 6.60742 11.9444 6.60742 12.5207C6.60742 13.0971 7.07473 13.5644 7.65111 13.5644H24.3504C24.9268 13.5644 25.3941 13.0971 25.3941 12.5207C25.3941 11.9444 24.9268 11.4771 24.3504 11.4771Z")
								p
									span No
									span Discrimination
							div
								svg( width="32" height="26" viewBox="0 0 32 26" xmlns="http://www.w3.org/2000/svg")
									path( d="M0 0.8125V25.1875H32V0.8125H0ZM1.875 2.6875H15V12.0625H1.875V2.6875ZM30.125 23.3125H1.875V21.4375H30.125V23.3125ZM30.125 19.5625H1.875V17.6875H30.125V19.5625ZM30.125 15.8125H1.875V13.9375C2.66756 13.9375 29.3312 13.9375 30.125 13.9375V15.8125ZM30.125 12.0625H16.875V10.1875H30.125V12.0625ZM30.125 8.3125H16.875V6.4375H30.125V8.3125ZM30.125 4.5625H16.875V2.6875H30.125V4.5625Z")
								p
									span American
									span You're nationality + American
							div
								svg( width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path( d="M8.27368 12.7517C7.74243 11.3354 6.36938 10.3838 4.85693 10.3838C3.34448 10.3838 1.97144 11.3354 1.44019 12.7517L1.40698 12.8401L0 21.6521H2.03979V27.2864H7.67407V21.6521H9.71387L8.30688 12.8401L8.27368 12.7517ZM5.7959 19.7742V25.3457H3.91602V19.7742H2.20166L3.23022 13.3328C3.50781 12.689 4.15112 12.262 4.85693 12.262C5.56274 12.262 6.20605 12.689 6.48364 13.3328L7.51221 19.7742H5.7959Z")
									path( d="M7.67334 7.56714C7.67334 6.01367 6.40942 4.75 4.8562 4.75C3.30298 4.75 2.03906 6.01367 2.03906 7.56714C2.03906 9.12036 3.30298 10.384 4.8562 10.384C6.40942 10.384 7.67334 9.12036 7.67334 7.56714ZM4.8562 8.5061C4.33838 8.5061 3.91724 8.08496 3.91724 7.56714C3.91724 7.04932 4.33838 6.62793 4.8562 6.62793C5.37402 6.62793 5.79517 7.04932 5.79517 7.56714C5.79517 8.08496 5.37402 8.5061 4.8562 8.5061Z")
									path( d="M19.3535 12.7517C18.8225 11.3354 17.4495 10.3838 15.937 10.3838C14.4246 10.3838 13.0513 11.3354 12.5203 12.7517L12.4871 12.8401L11.0801 21.6521H13.1199V27.2864H18.7539V21.6521H20.7939L19.3867 12.8401L19.3535 12.7517ZM16.876 19.7742V25.4082H15.0586V19.7742H13.2817L14.3103 13.3328C14.5879 12.689 15.231 12.262 15.937 12.262C16.6428 12.262 17.2861 12.689 17.5637 13.3328L18.592 19.7742H16.876Z")
									path( d="M18.7551 7.56714C18.7551 6.01367 17.4915 4.75 15.9382 4.75C14.3848 4.75 13.1211 6.01367 13.1211 7.56714C13.1211 9.12036 14.3848 10.384 15.9382 10.384C17.4915 10.384 18.7551 9.12036 18.7551 7.56714ZM15.9382 8.5061C15.4204 8.5061 14.999 8.08496 14.999 7.56714C14.999 7.04932 15.4204 6.62793 15.9382 6.62793C16.4558 6.62793 16.8772 7.04932 16.8772 7.56714C16.8772 8.08496 16.4558 8.5061 15.9382 8.5061Z")
									path( d="M30.592 12.8401L30.5588 12.7517C30.0276 11.3354 28.6545 10.3838 27.1421 10.3838C25.6296 10.3838 24.2566 11.3354 23.7253 12.7517L23.6921 12.8401L22.2852 21.6521H24.325V27.2864H29.9592V21.6521H31.999L30.592 12.8401ZM28.0811 19.7742V25.4082H26.2637V19.7742H24.4868L25.5154 13.3328C25.793 12.689 26.4363 12.262 27.1421 12.262C27.8479 12.262 28.4912 12.689 28.7688 13.3328L29.7974 19.7742H28.0811Z")
									path( d="M29.9604 7.56714C29.9604 6.01367 28.6965 4.75 27.1433 4.75C25.5901 4.75 24.3262 6.01367 24.3262 7.56714C24.3262 9.12036 25.5901 10.384 27.1433 10.384C28.6965 10.384 29.9604 9.12036 29.9604 7.56714ZM27.1433 8.5061C26.6255 8.5061 26.2043 8.08496 26.2043 7.56714C26.2043 7.04932 26.6255 6.62793 27.1433 6.62793C27.6611 6.62793 28.0823 7.04932 28.0823 7.56714C28.0823 8.08496 27.6611 8.5061 27.1433 8.5061Z")
								p
									span Appreciate
									span Cultural diversity
		.typycal(data-class='first' data-change='second').typycal-position.typycal-eat
			.typycal-bgc.typycal-one.eat
			.typycal-bgc.typycal-two.eatBgc
			.typycal-section.typycal-h2
				.typycal-cont
					h2 Don’t eat less, eat RIGHT.”
						span ”
					.typycal-cont-text
						p In America you can access to plenty of nutrition. Most of the fruits and vegetables seasonal in your country are available all year long here. You will find perfect-looking fruits and vegetables as the quality standards are set very high. The use of refrigeration technology since 1980s enabled fresh fruits and vegetables to be kept chilled soon after being harvested all the way through to the grocery store. There is a variety of meat available in different forms, from red meat to sea food. The excessive food produce is given to the food processing and food banks to avoid excessive waste of produce. .typycal-right
						.typycal-right
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M25.3377 22.6636C23.1375 22.6636 21.3477 24.4535 21.3477 26.6536C21.3477 28.8537 23.1376 30.6436 25.3377 30.6436C27.5378 30.6436 29.3277 28.8537 29.3277 26.6536C29.3277 24.4535 27.5378 22.6636 25.3377 22.6636ZM25.3377 28.2496C24.4575 28.2496 23.7417 27.5338 23.7417 26.6536C23.7417 25.7734 24.4575 25.0576 25.3377 25.0576C26.2179 25.0576 26.9337 25.7734 26.9337 26.6536C26.9337 27.5338 26.2179 28.2496 25.3377 28.2496Z")
									path(d="M31.7456 7.2421C31.519 6.95204 31.1714 6.78285 30.8032 6.78285H7.38879L6.31147 2.27533C6.1826 1.7367 5.70097 1.35645 5.14715 1.35645H1.19701C0.535878 1.35638 0 1.89226 0 2.55339C0 3.21452 0.535878 3.7504 1.19701 3.7504H4.20234L8.09261 20.0282C8.22149 20.5672 8.70311 20.9471 9.25693 20.9471H27.8905C28.4407 20.9471 28.9203 20.572 29.0524 20.0381L31.9651 8.26749C32.0532 7.91005 31.9722 7.53217 31.7456 7.2421ZM26.954 18.5531H10.2017L7.96092 9.17687H29.2737L26.954 18.5531Z")
									path(d="M10.8533 22.6636C8.65317 22.6636 6.86328 24.4535 6.86328 26.6536C6.86328 28.8537 8.65323 30.6436 10.8533 30.6436C13.0534 30.6436 14.8433 28.8537 14.8433 26.6536C14.8433 24.4535 13.0534 22.6636 10.8533 22.6636ZM10.8533 28.2496C9.97311 28.2496 9.2573 27.5338 9.2573 26.6536C9.2573 25.7734 9.97311 25.0576 10.8533 25.0576C11.7335 25.0576 12.4493 25.7734 12.4493 26.6536C12.4493 27.5338 11.7335 28.2496 10.8533 28.2496Z")
								p
									span 38 000+
									span Supermarkets
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M31.0204 23.1836H30.0408V13.0611C30.0408 12.5201 29.6022 12.0815 29.0612 12.0815H23.5102V1.95908C23.5102 1.41809 23.0716 0.979492 22.5306 0.979492H9.46939C8.92839 0.979492 8.4898 1.41809 8.4898 1.95908V12.0815H2.93878C2.39778 12.0815 1.95918 12.5201 1.95918 13.0611V23.1836H0.979592C0.438596 23.1836 0 23.6222 0 24.1632V30.0407C0 30.5817 0.438596 31.0203 0.979592 31.0203H4.89796C5.43895 31.0203 5.87755 30.5817 5.87755 30.0407V29.0611H13.0612V30.0407C13.0612 30.5817 13.4998 31.0203 14.0408 31.0203H17.9592C18.5002 31.0203 18.9388 30.5817 18.9388 30.0407V29.0611H26.1224V30.0407C26.1224 30.5817 26.561 31.0203 27.102 31.0203H31.0204C31.5614 31.0203 32 30.5817 32 30.0407V24.1632C32 23.6222 31.5614 23.1836 31.0204 23.1836ZM28.0816 14.0407V23.1836H16.9796V14.0407H28.0816ZM10.449 2.93868H21.551V12.0815H10.449V2.93868ZM3.91837 14.0407H15.0204V23.1836H3.91837V14.0407ZM30.0408 29.0611H28.0816V28.0815C28.0816 27.5405 27.643 27.1019 27.102 27.1019H17.9592C17.4182 27.1019 16.9796 27.5405 16.9796 28.0815V29.0611H15.0204V28.0815C15.0204 27.5405 14.5818 27.1019 14.0408 27.1019H4.89796C4.35696 27.1019 3.91837 27.5405 3.91837 28.0815V29.0611H1.95918V25.1428H30.0408V29.0611Z")
								p
									span 40 000+
									span Products to choose from
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M29.7143 0H2.28569C1.02537 0 0 1.02537 0 2.28569V8.21181V11.2089V20.7911V23.7882V29.7144C0 30.9746 1.02537 32 2.28569 32H29.7143C30.9746 32 32 30.9746 32 29.7143V2.28569C32 1.02537 30.9746 0 29.7143 0ZM1.52381 8.97369H5.13538V10.447H1.52381V8.97369ZM1.52381 11.9708H3.69525V20.0292H1.52381V11.9708ZM1.52381 21.553H5.13538V23.0263H1.52381V21.553ZM30.4762 29.7143C30.4762 30.1344 30.1344 30.4762 29.7143 30.4762H2.28569C1.86556 30.4762 1.52381 30.1344 1.52381 29.7143V24.5501H3.69525V27.2C3.69525 27.8091 4.19088 28.3048 4.8 28.3048H27.2C27.8091 28.3048 28.3048 27.8091 28.3048 27.2V4.8C28.3048 4.19088 27.8091 3.69525 27.2 3.69525H4.8C4.19088 3.69525 3.69525 4.19088 3.69525 4.8V7.44987H1.52381V2.28569C1.52381 1.86556 1.86562 1.52381 2.28569 1.52381H29.7143C30.1344 1.52381 30.4761 1.86562 30.4761 2.28569V29.7143H30.4762ZM5.89731 20.0292H5.14288V11.9708H5.89731C6.31813 11.9708 6.65919 11.6296 6.65919 11.2089V8.21181C6.65919 7.79106 6.31806 7.44994 5.89731 7.44994H5.14288V5.14288H26.8572V26.8572H5.14288V24.5501H5.89731C6.31813 24.5501 6.65919 24.2089 6.65919 23.7882V20.7911C6.65919 20.3704 6.31813 20.0292 5.89731 20.0292Z")
									path(d="M21.28 10.72C18.3687 7.80882 13.6317 7.80882 10.7205 10.72C7.8093 13.6313 7.8093 18.3683 10.7205 21.2796C12.1762 22.7351 14.0882 23.4629 16.0002 23.4629C17.9123 23.4629 19.8243 22.7351 21.28 21.2796C24.1912 18.3682 24.1912 13.6313 21.28 10.72ZM22.0527 15.3139H20.1404V15.314C20.0365 14.6784 19.7887 14.0799 19.4127 13.5571L20.7672 12.2026C21.4998 13.1211 21.928 14.2033 22.0527 15.3139ZM16.6859 9.94732C17.7966 10.0721 18.8789 10.5003 19.7973 11.2329L18.4429 12.5873C17.92 12.2114 17.3215 11.9634 16.6859 11.8596V9.94732ZM15.3145 9.94726V11.8596C14.679 11.9635 14.0805 12.2113 13.5576 12.5873L12.2032 11.2329C13.1215 10.5003 14.2038 10.072 15.3145 9.94726ZM11.2334 12.2026L12.5878 13.5571C12.2119 14.0799 11.9639 14.6784 11.86 15.314H9.9478C10.0725 14.2033 10.5007 13.1211 11.2334 12.2026ZM9.9478 16.6854H11.86C11.964 17.321 12.2118 17.9195 12.5878 18.4424L11.2334 19.7968C10.5007 18.8784 10.0725 17.7962 9.9478 16.6854ZM15.3145 22.0523C14.2039 21.9275 13.1215 21.4993 12.2032 20.7666L13.5576 19.4122C14.0805 19.7881 14.679 20.0361 15.3145 20.1399V22.0523ZM14.0024 17.9974C13.4688 17.4639 13.1749 16.7544 13.1749 15.9998C13.1749 15.245 13.4688 14.5356 14.0024 14.0021C14.536 13.4684 15.2455 13.1746 16.0002 13.1746C16.7549 13.1746 17.4644 13.4684 17.9979 14.0021C18.5315 14.5356 18.8254 15.2451 18.8254 15.9998C18.8254 16.7545 18.5315 17.4639 17.9979 17.9974C17.4644 18.5311 16.7549 18.8249 16.0002 18.8249C15.2456 18.8249 14.5361 18.5311 14.0024 17.9974ZM16.6859 22.0523V20.1399C17.3215 20.0361 17.92 19.7882 18.4429 19.4123L19.7973 20.7667C18.8789 21.4993 17.7967 21.9276 16.6859 22.0523ZM20.7671 19.7968L19.4127 18.4423C19.7886 17.9194 20.0365 17.3209 20.1404 16.6854H22.0527C21.928 17.7962 21.4997 18.8785 20.7671 19.7968Z")
								p
									span 200+
									span Food banks across the states
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M25.5849 12.6926C25.8281 11.8303 26 10.9391 26 9.99999C26 4.48629 21.5137 0 16 0C10.4863 0 5.99998 4.48629 5.99998 9.99999C5.99998 10.9391 6.17188 11.8303 6.41499 12.6926C2.6725 14.14 0 17.7532 0 21.9999C0 27.5136 4.48629 31.9999 9.99999 31.9999C12.2598 31.9999 14.3235 31.2179 16 29.9488C17.6764 31.2179 19.7401 31.9999 21.9999 31.9999C27.5136 31.9999 31.9999 27.5136 31.9999 21.9999C32 17.7532 29.3275 14.14 25.5849 12.6926ZM8.00002 9.99999C8.00002 5.58884 11.5889 1.99997 16 1.99997C20.4112 1.99997 24 5.58884 24 9.99999C24 10.7563 23.8608 11.4741 23.6637 12.1682C23.1197 12.0763 22.5698 12 22.0001 12C19.7402 12 17.6766 12.782 16.0001 14.0511C14.3236 12.782 12.26 12 10.0001 12C9.43044 12 8.88048 12.0763 8.33654 12.1682C8.13929 11.4741 8.00002 10.7564 8.00002 9.99999ZM18 21.9999C18 24.0105 17.2291 25.8282 16 27.2352C14.7709 25.8282 14.0001 24.0104 14.0001 21.9999C14.0001 21.2436 14.1393 20.5258 14.3365 19.8317C14.8804 19.9237 15.4304 20 16 20C16.5697 20 17.1197 19.9237 17.6636 19.8317C17.8607 20.5258 18 21.2436 18 21.9999ZM16 18C15.712 18 15.4392 17.9447 15.159 17.9149C15.4051 17.5044 15.6866 17.1234 16 16.7647C16.3133 17.1234 16.5948 17.5044 16.8409 17.9149C16.5608 17.9447 16.288 18 16 18ZM13.1463 17.4504C11.4662 16.8043 10.0738 15.611 9.15903 14.0851C9.43915 14.0553 9.712 14 9.99999 14C11.6826 14 13.2411 14.5278 14.5309 15.4187C13.9875 16.0346 13.5264 16.7144 13.1463 17.4504ZM17.4691 15.4187C18.7589 14.5278 20.3174 14 22 14C22.288 14 22.5608 14.0553 22.841 14.0851C21.9262 15.611 20.5339 16.8043 18.8537 17.4504C18.4736 16.7144 18.0125 16.0346 17.4691 15.4187ZM1.99997 21.9999C1.99997 18.597 4.14485 15.7037 7.14635 14.5495C8.26448 16.7148 10.1237 18.4211 12.415 19.3073C12.1719 20.1696 12 21.0609 12 21.9999C12 24.5305 12.9753 26.8179 14.5309 28.5813C13.2411 29.4721 11.6826 30 9.99999 30C5.58884 30 1.99997 26.4111 1.99997 21.9999ZM21.9999 30C20.3173 30 18.7589 29.4721 17.469 28.5813C19.0246 26.818 19.9999 24.5305 19.9999 21.9999C19.9999 21.0609 19.828 20.1696 19.5849 19.3073C21.8763 18.4211 23.7354 16.7148 24.8536 14.5495C27.855 15.7037 30 18.597 30 21.9999C30 26.4111 26.4111 30 21.9999 30Z")
								p
									span High
									span Nutrition
		.typycal(data-class='first-white' data-change='second')
			.typycal-bgc.typycal-one.weather
			.typycal-bgc.typycal-two.weatherBgc
			.typycal-section
				.typycal-cont
					h2 What’s the weather like in America?”
						span ”
					.typycal-cont-text
						p It’s not a question that makes any logical sense. It’s a million different ways, every day, from east to west. Wide variety of weather and regions to choose to live in, from hot to cold, or dry to humid.#[br]#[br]The climate ranges from humid continental in the north to humid subtropical in the south. Mediterranean in coastal California and oceanic in coastal Oregon, Washington. Tropical in Hawaii and the southern tip of Florida and polar in Alaska.#[br]#[br]Our country is located in a great spot, geographically, and depending on what region of the United States you are in, you will have a different climatic experience.
						.typycal-right
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M32 15.0625C32 9.47519 28.6083 0 23.5 0C19.9124 0 17.4507 4.65219 16.2943 8.09606C15.8885 7.88325 15.4482 7.72769 14.9837 7.64131C14.5791 5.46531 12.6664 3.8125 10.375 3.8125C8.08406 3.8125 6.17169 5.4645 5.76662 7.63981C3.62063 8.03069 1.875 9.91031 1.875 12.25C1.875 12.8294 1.98056 13.3966 2.18462 13.9283C0.846312 14.7738 0 16.255 0 17.875C0 20.4597 2.10281 22.5625 4.6875 22.5625C5.7195 22.5625 6.73975 22.2146 7.55788 21.6045C8.11544 22.0294 8.75788 22.3236 9.4375 22.4654V26.375H8.47975C7.59475 25.2066 6.18769 24.5 4.6875 24.5C2.10281 24.5 0 26.6028 0 29.1875V31.0625C0 31.5802 0.41975 32 0.9375 32H31.0625C31.5802 32 32 31.5802 32 31.0625C32 28.4778 29.8972 26.375 27.3125 26.375H24.4375V22.5464C29.3434 22.3659 32 20.2915 32 15.0625ZM23.5 1.875C26.8257 1.875 30.125 9.58862 30.125 15.0625C30.125 19.1483 28.3817 20.5124 24.4375 20.6704V16.5837L27.7262 14.9663C28.1909 14.7378 28.3822 14.1759 28.1537 13.7113C27.9254 13.2466 27.3634 13.0552 26.8988 13.2837L24.4375 14.4942C24.4375 13.7922 24.4375 8.87894 24.4375 8.5C24.4375 7.98225 24.0177 7.5625 23.5 7.5625C22.9823 7.5625 22.5625 7.98225 22.5625 8.5V10.4983L21.2075 9.59494C20.7766 9.30775 20.1946 9.42412 19.9074 9.85494C19.6202 10.2858 19.7366 10.8678 20.1674 11.155L22.5625 12.7517V20.6691C21.5283 20.626 20.6952 20.5061 20.0102 20.2999C20.4399 19.5919 20.6875 18.7619 20.6875 17.875C20.6875 16.255 19.8412 14.7738 18.5029 13.9283C18.707 13.3966 18.8125 12.8295 18.8125 12.25C18.8125 11.1801 18.4519 10.1929 17.8463 9.403C18.6279 6.79831 20.7845 1.875 23.5 1.875ZM18.9068 30.125H14.9681C14.5944 28.291 13.1464 26.8431 11.3124 26.4693V22.4655C11.9902 22.324 12.6309 22.031 13.1874 21.6081C13.9956 22.2222 14.9813 22.5625 16 22.5625C16.9619 22.5625 17.8568 22.2709 18.6017 21.7719C19.8443 22.3257 21.2766 22.4992 22.5625 22.5465V26.4693C20.7285 26.8431 19.2806 28.291 18.9068 30.125ZM8.26831 19.7146C8.09025 19.5109 7.833 19.3941 7.5625 19.3941C7.292 19.3941 7.03469 19.5109 6.85669 19.7146C6.32419 20.3238 5.51325 20.6875 4.6875 20.6875C3.13669 20.6875 1.875 19.4258 1.875 17.875C1.875 16.6909 2.63438 15.6296 3.76463 15.2341C4.03919 15.138 4.25356 14.9199 4.345 14.6438C4.43644 14.3676 4.39444 14.0646 4.23138 13.8237C3.9165 13.3584 3.75 12.8142 3.75 12.25C3.75 10.7254 5.06656 9.4375 6.625 9.4375C7.14275 9.4375 7.5625 9.01775 7.5625 8.5C7.5625 6.94919 8.82419 5.6875 10.375 5.6875C11.9258 5.6875 13.1875 6.94919 13.1875 8.5C13.1875 9.01775 13.6073 9.4375 14.125 9.4375C15.6758 9.4375 16.9375 10.6992 16.9375 12.25C16.9375 12.8142 16.7711 13.3584 16.4561 13.8237C16.2931 14.0646 16.2511 14.3676 16.3425 14.6438C16.4339 14.9199 16.6483 15.138 16.9229 15.2341C18.0531 15.6296 18.8125 16.6909 18.8125 17.875C18.8125 19.4258 17.5508 20.6875 16 20.6875C15.1899 20.6875 14.4417 20.342 13.8933 19.7146C13.7153 19.5109 13.458 19.3941 13.1875 19.3941C12.917 19.3941 12.6597 19.5109 12.4817 19.7146C11.9333 20.342 11.1851 20.6875 10.375 20.6875C9.56494 20.6875 8.81675 20.342 8.26831 19.7146ZM4.6875 26.375C5.69719 26.375 6.6715 26.9281 7.16962 27.7841C7.3375 28.0726 7.64612 28.25 7.97988 28.25H10.375C11.5972 28.25 12.6392 29.0338 13.0262 30.125H1.875V29.1875C1.875 27.6367 3.13669 26.375 4.6875 26.375ZM29.9638 30.125H20.8487C21.2357 29.0338 22.2778 28.25 23.5 28.25H27.3125C28.5347 28.25 29.5768 29.0338 29.9638 30.125Z")
								p
									span Low pollution
									span
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M30.0005 19.1455C29.9973 21.253 28.8887 23.2045 27.0801 24.2863L28.0802 25.9966C30.4923 24.5527 31.9779 21.9566 32.0008 19.1455H30.0005Z")
									path(d="M9.99653 6.92353L8.71632 5.36328C6.76526 6.94366 5.48 9.20001 5.11575 11.6843C0.994602 13.2792 -1.05341 17.9128 0.541405 22.034C1.18344 23.6931 2.36019 25.091 3.8855 26.0065L4.88565 24.2963C2.04483 22.5893 1.12562 18.9026 2.83258 16.0617C3.6082 14.7708 4.8409 13.8188 6.28588 13.3946C6.68163 13.276 6.9638 12.9263 6.99599 12.5144C7.18289 10.3169 8.26857 8.29399 9.99653 6.92353Z")
									path(d="M28.7089 16.4352L26.5986 14.3248C27.2965 13.3911 27.7504 12.2979 27.9188 11.1443H30.9993V9.144H27.9188C27.7504 7.99044 27.2965 6.89721 26.5986 5.9635L28.7089 3.85317L27.2887 2.43294L25.1783 4.54327C24.2446 3.84529 23.1514 3.39147 21.9978 3.22307V0.142578H19.9975V3.22307C18.6032 3.42747 17.303 4.04795 16.2669 5.00335L13.7065 2.43294L12.2863 3.85317L14.9967 6.55359C14.5204 7.34709 14.2075 8.22779 14.0766 9.144H10.9961V11.1443H15.9969V10.1442C15.9969 7.38229 18.2358 5.14337 20.9977 5.14337C23.7595 5.14337 25.9985 7.38229 25.9985 10.1442C25.9985 12.906 23.7595 15.145 20.9977 15.145V17.1453C22.5057 17.141 23.972 16.6499 25.1783 15.745L27.2887 17.8554L28.7089 16.4352Z")
									path(d="M22.2874 20.4357L19.5869 23.1461H16.9965V20.5557L19.707 17.8553L18.2867 16.4351L15.9964 18.7354L13.706 16.4351L12.2858 17.8553L14.9962 20.5557V23.1461H12.4058L9.70538 20.4357L8.28516 21.8559L10.5855 24.1463L8.28516 26.4366L9.70538 27.8569L12.4058 25.1464H14.9962V27.7368L12.2858 30.4373L13.706 31.8575L15.9964 29.5571L18.2867 31.8575L19.707 30.4373L16.9965 27.7368V25.1464H19.5869L22.2874 27.8569L23.7076 26.4366L21.4072 24.1463L23.7076 21.8559L22.2874 20.4357Z")
								p
									span 4 Seasons
									span To choose from
		.typycal(data-class='first' data-change='second').typycal-nature.typycal-position
			.typycal-bgc.typycal-one.nature
			.typycal-bgc.typycal-two.natureBgc
			.typycal-section
				.typycal-cont
					h2 Nature is not a place to visit. IT IS HOME.”
						span ”
					.typycal-cont-text
						p You can see nearly every type of terrain and experience most climatic differences and enjoy the activities specific to each.#[br]#[br]From the Rocky Mountains to the Great Plains, from the deserts to the coastlines and everything in between. Depending on what region of the United States you are in, there is an enormous variety of landscape. Forests, farms, flatlands, isolated mountaintops, volcanoes, heaving cities and the broad coastal plains make up the widest and longest beaches of the United States.#[br]#[br]You can enjoy the spectacular scenery which is unique and one of a kind in every state. Many people find no reason to vacation abroad because there’s so much to do right here.
						.typycal-right
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M16 0C7.17752 0 0 7.17752 0 16C0 24.8225 7.17752 32 16 32C24.8225 32 32 24.8225 32 16C32 7.17752 24.8224 0 16 0ZM25.1729 4.41148C25.9685 5.04258 26.6976 5.7538 27.3485 6.53266C27.0031 6.47229 26.6799 6.47869 26.3771 6.55281C25.791 6.69612 25.3239 7.08802 25.0262 7.68587C24.9558 7.82723 24.8107 7.9088 24.6547 7.89181C24.4705 7.87247 24.328 7.72414 24.3233 7.54684C24.2916 6.34582 24.8145 5.11112 25.1729 4.41148ZM5.81247 5.29312C7.0877 4.07922 8.57875 3.09037 10.2214 2.39024C10.8991 2.85376 12.7707 4.22286 14.1535 6.07886C14.3232 6.30657 14.3802 6.59465 14.3099 6.86929C14.2396 7.14418 14.0509 7.36979 13.7922 7.48809C12.3374 8.15391 10.4094 9.18654 9.48724 10.3253C9.27361 10.5893 8.92857 10.7072 8.60764 10.6258C7.37699 10.3136 6.38822 10.6862 5.82339 11.6746C5.10999 12.9228 6.10451 14.1375 6.98202 15.2093C7.08187 15.3313 7.18213 15.4539 7.28053 15.5767C6.35925 15.0297 5.65499 14.3221 5.18266 13.4635C4.36762 11.9816 3.82262 9.36441 5.81247 5.29312ZM1.21381 16C1.21381 13.0979 2.05482 10.3888 3.50509 8.10245C2.88167 10.8309 3.42239 12.7817 4.11912 14.0486C4.86237 15.3995 6.05361 16.4359 7.65989 17.1292C7.99045 17.2718 8.23775 17.5615 8.3215 17.9046C8.3215 17.9046 8.35629 18.0542 8.37118 18.1283C8.48253 18.6813 8.56685 19.5046 8.44442 20.5563C8.26437 22.1098 8.95495 23.6342 10.2464 24.5347L11.4549 25.3779C11.3795 26.2392 11.2749 28.4136 11.9001 30.2074C5.73511 28.4256 1.21381 22.7311 1.21381 16ZM30.3689 18.4729C30.3329 17.8356 30.0275 17.2398 29.531 16.8382C29.0403 16.4412 28.4028 16.2689 27.7821 16.3653L27.7295 16.3732C27.2557 16.4424 26.7834 16.3211 26.4004 16.0316C26.0106 15.737 25.7605 15.3065 25.6962 14.8194C25.6255 14.2835 25.6005 13.7705 25.6218 13.2947C25.6369 12.9599 25.3776 12.6763 25.0428 12.6612C24.7079 12.6459 24.4243 12.9053 24.4093 13.2402C24.3847 13.787 24.4128 14.3717 24.4928 14.9783C24.6 15.79 25.0175 16.5079 25.6684 16.9999C26.3125 17.4868 27.1066 17.6907 27.9051 17.5742L27.9688 17.5646C28.2559 17.5201 28.5395 17.5972 28.7677 17.7819C28.9985 17.9685 29.1403 18.2453 29.1571 18.5412C29.2162 19.5869 29.4402 20.4955 29.823 21.2483C27.701 26.8181 22.3056 30.7861 16 30.7861C15.4214 30.7861 14.8508 30.7516 14.2894 30.6866C14.4911 30.4813 14.7321 30.2337 15.0172 29.9375C15.2497 29.696 15.2423 29.3118 15.0009 29.0794C14.7594 28.847 14.3751 28.8543 14.1428 29.0958C13.7215 29.5334 13.3973 29.8639 13.1571 30.1057C12.3243 28.1521 12.6932 25.1965 12.6975 25.1636C12.7268 24.939 12.6287 24.7168 12.443 24.5872L10.9409 23.5391C10.0162 22.8944 9.52164 21.8049 9.65022 20.6962C9.75089 19.8305 9.73737 18.9827 9.61599 18.2076C10.6838 17.92 11.7204 17.7683 12.4439 17.6901C12.9758 17.633 13.5002 17.8096 13.8813 18.1752C14.7611 19.0195 16.1233 20.004 17.93 21.1013C18.4661 21.4269 18.8345 21.9686 18.9404 22.5875C19.046 23.2044 18.8798 23.8353 18.4844 24.3185C17.9453 24.9771 17.2859 25.7345 16.5248 26.5697C16.299 26.8175 16.3168 27.2013 16.5645 27.4271C16.6809 27.5332 16.8272 27.5854 16.9732 27.5854C17.1379 27.5854 17.3021 27.5188 17.4219 27.3874C18.1975 26.5363 18.8709 25.7625 19.4236 25.0873C20.0418 24.3319 20.3018 23.3462 20.1368 22.3827C19.9714 21.4172 19.3967 20.5719 18.56 20.0638C16.8533 19.0273 15.5261 18.0714 14.7215 17.2993C14.0809 16.6849 13.2035 16.3875 12.3136 16.4833C11.5812 16.5625 10.5454 16.7128 9.46014 16.9933C9.24036 16.0523 8.54848 15.2067 7.9211 14.4405C7.10987 13.4496 6.59886 12.7637 6.87706 12.2769C7.05662 11.9628 7.40038 11.5718 8.30904 11.8025C9.08701 11.9998 9.91985 11.7199 10.4304 11.0892C11.0344 10.3435 12.4076 9.45658 14.2972 8.59186C14.8907 8.32029 15.3239 7.80215 15.4857 7.1704C15.6473 6.53897 15.5166 5.8768 15.1269 5.35373C13.9714 3.80288 12.5376 2.59092 11.5977 1.88311C12.9888 1.4484 14.4674 1.21389 15.9998 1.21389C19.0223 1.21389 21.8354 2.12612 24.1796 3.68878C23.7631 4.46505 23.0684 6.00514 23.1099 7.57889C23.1304 8.36261 23.7399 9.0162 24.5276 9.09907C24.5823 9.10481 24.6368 9.10765 24.6911 9.10765C25.2859 9.10765 25.8434 8.76802 26.1128 8.22698C26.3168 7.81728 26.5792 7.75303 26.6655 7.73191C26.9362 7.66572 27.5553 7.68141 28.7072 8.4848C28.4597 8.48909 28.1724 8.47929 27.8605 8.44086C27.3976 8.38381 26.9386 8.49961 26.5675 8.7664C26.3242 8.94111 26.0933 9.14608 25.8808 9.37549C25.6531 9.62149 25.6678 10.0055 25.9137 10.2332C26.0305 10.3413 26.1784 10.3948 26.3259 10.3948C26.4891 10.3948 26.6518 10.3294 26.7714 10.2002C26.9287 10.0303 27.0985 9.87955 27.2758 9.75202C27.3986 9.66373 27.5539 9.62586 27.7122 9.64553C28.3891 9.72896 28.9719 9.70136 29.3563 9.6605C30.2725 11.5829 30.7861 13.7325 30.7861 16C30.7861 17.0908 30.6663 18.1541 30.4411 19.1782C30.4068 18.9535 30.3827 18.7183 30.3689 18.4729Z")
									path(d="M16.3698 27.9997C16.3553 27.9633 16.3367 27.9276 16.3148 27.8953C16.2922 27.8613 16.2671 27.8305 16.2388 27.803C16.2112 27.7747 16.1805 27.7496 16.1465 27.727C16.1142 27.7051 16.0785 27.6865 16.0421 27.6711C16.0057 27.6566 15.9669 27.6444 15.9289 27.6371C15.8503 27.621 15.7694 27.621 15.691 27.6371C15.653 27.6444 15.6141 27.6566 15.5778 27.6711C15.5414 27.6865 15.5057 27.7051 15.4734 27.727C15.4402 27.7496 15.4086 27.7747 15.3811 27.803C15.3527 27.8305 15.3277 27.8613 15.3051 27.8953C15.2832 27.9276 15.2646 27.9633 15.2492 27.9997C15.2347 28.0361 15.2225 28.0749 15.2153 28.113C15.2072 28.1526 15.2031 28.1923 15.2031 28.2319C15.2031 28.2716 15.2073 28.3112 15.2153 28.3501C15.2225 28.3889 15.2347 28.4269 15.2492 28.4642C15.2646 28.5006 15.2832 28.5354 15.3051 28.5685C15.3277 28.6017 15.3528 28.6333 15.3811 28.6608C15.4086 28.6891 15.4401 28.7142 15.4734 28.7361C15.5057 28.7579 15.5414 28.7773 15.5778 28.7919C15.6141 28.8073 15.653 28.8186 15.691 28.8267C15.7306 28.8348 15.7703 28.8388 15.81 28.8388C15.8496 28.8388 15.8893 28.8348 15.929 28.8267C15.967 28.8186 16.0058 28.8073 16.0422 28.7919C16.0786 28.7773 16.1143 28.7579 16.1466 28.7361C16.1806 28.7142 16.2113 28.6891 16.2389 28.6608C16.2672 28.6333 16.2922 28.6017 16.3149 28.5685C16.3368 28.5354 16.3554 28.5006 16.3699 28.4642C16.3853 28.4269 16.3975 28.3889 16.4048 28.3501C16.4129 28.3112 16.4169 28.2716 16.4169 28.2319C16.4169 28.1923 16.4128 28.1526 16.4048 28.113C16.3974 28.0748 16.3852 28.036 16.3698 27.9997Z")
									path(d="M18.894 2.70412C18.7956 2.61559 17.8454 1.83179 14.816 1.5794C14.3692 1.54201 14.1804 1.8402 14.133 1.93237C13.9115 2.36344 14.1881 2.68858 14.6067 3.18082C15.0903 3.74937 15.8997 4.701 16.025 5.66137C16.0568 5.90494 16.2322 6.10538 16.4694 6.16899C16.5216 6.18299 16.5744 6.18978 16.6267 6.18978C16.8125 6.18978 16.9917 6.10417 17.1083 5.95212L18.9695 3.52449C19.1623 3.27315 19.1293 2.91597 18.894 2.70412ZM16.8529 4.29057C16.609 3.78174 16.2879 3.32607 15.9872 2.94518C16.7299 3.0702 17.2387 3.22525 17.5702 3.35496L16.8529 4.29057Z")
									path(d="M25.678 10.9645C25.6447 10.9426 25.61 10.924 25.5728 10.9086C25.5364 10.8933 25.4983 10.8819 25.4595 10.8738C25.381 10.8585 25.3009 10.8585 25.2224 10.8738C25.1836 10.8819 25.1455 10.8933 25.1091 10.9086C25.0719 10.924 25.0371 10.9426 25.0039 10.9645C24.9707 10.9863 24.94 11.0122 24.9117 11.0397C24.8842 11.068 24.8583 11.0988 24.8363 11.132C24.8145 11.1651 24.7959 11.2008 24.7806 11.2372C24.7652 11.2736 24.7539 11.3116 24.7457 11.3505C24.7384 11.3901 24.7344 11.4298 24.7344 11.4694C24.7344 11.5091 24.7384 11.5487 24.7457 11.5875C24.7537 11.6263 24.765 11.6644 24.7805 11.7016C24.7958 11.7381 24.8145 11.7729 24.8363 11.806C24.8582 11.8392 24.8841 11.87 24.9116 11.8983C25.0248 12.0116 25.1811 12.0763 25.3413 12.0763C25.3801 12.0763 25.4206 12.0723 25.4594 12.0642C25.4983 12.0561 25.5363 12.0447 25.5727 12.0294C25.6099 12.0148 25.6447 11.9954 25.6779 11.9735C25.7111 11.9517 25.7418 11.9266 25.7702 11.8983C25.7977 11.87 25.8236 11.8392 25.8455 11.806C25.8673 11.7729 25.886 11.7381 25.9012 11.7016C25.9166 11.6644 25.9279 11.6264 25.9361 11.5875C25.9442 11.5487 25.9475 11.5091 25.9475 11.4694C25.9475 11.3092 25.8827 11.153 25.7702 11.0397C25.7419 11.0122 25.7112 10.9863 25.678 10.9645Z")
								p
									span 3#[strong rd]
									span Largest country in the world
							div
								include ../img/test.svg
								p
									span 150,000 km
									span Of shore lines
							div
								include ../img/tree.svg
								p
									span 211,000 km2
									span Total area of national parks
		.typycal(data-class='first-white' data-change='second').typycal-ideal
			.typycal-bgc.typycal-one.ideal
			.typycal-bgc.typycal-two.idealBgc
			.typycal-section
				.typycal-cont
					h2 An Ideal Culture is one that makes a place for every Ethnicity.”
						span ”
					.typycal-cont-text
						p If you’ve lived in the same town for most of your life, a new place full of new food and things can seem like a dream come true. Nearly every state or large city has a “Little Ethnicity” where you can experience the cultures of the world without leaving “your backyard”. Every culture, every language and custom, every different type of cuisine, it can all be found in the United States, and that makes our lives richer and more exciting.
						.typycal-right
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									g(clip-path="url(#clip0)")
										path(d="M12.0372 18.8906C12.4277 19.2811 12.4277 19.9143 12.0372 20.3048C11.6467 20.6953 11.0135 20.6953 10.623 20.3048C10.2325 19.9143 10.2325 19.2811 10.623 18.8906C11.0135 18.5 11.6466 18.5 12.0372 18.8906Z")
										path(d="M7.90438 18.8906C8.29488 19.2811 8.29488 19.9143 7.90438 20.3048C7.51388 20.6953 6.88071 20.6953 6.49014 20.3048C6.09964 19.9143 6.09964 19.2811 6.49014 18.8906C6.88064 18.5 7.51382 18.5 7.90438 18.8906Z")
										path(d="M16.1719 18.8906C16.5624 19.2811 16.5624 19.9143 16.1719 20.3048C15.7815 20.6953 15.1483 20.6953 14.7577 20.3048C14.3672 19.9143 14.3672 19.2811 14.7577 18.8906C15.1483 18.5 15.7815 18.5 16.1719 18.8906Z")
										path(d="M31 2H11C10.4472 2 9.99996 2.44728 9.99996 3.00003V8.00004H1.00003C0.447278 7.99997 0 8.44725 0 9V25C0 25.5528 0.447278 26 1.00003 26H4.71879L4.03031 28.7578C3.93753 29.1279 4.06451 29.5195 4.35648 29.7656C4.54004 29.9199 4.76862 30 5.00001 30C5.13768 30 5.27635 29.9717 5.40628 29.914L14.212 26H21C21.5528 26 22 25.5527 22 24.9999V21.2945L26.5039 23.8682C26.6582 23.9561 26.8291 24 27.0001 24C27.2139 24 27.4258 23.9317 27.6036 23.7969C27.9229 23.5557 28.0674 23.1465 27.9698 22.7579L27.2813 20.0001H31C31.5528 20.0001 32.0001 19.5528 32.0001 19V3.00003C32 2.44728 31.5527 2 31 2ZM20 24H14C13.8603 24 13.7217 24.0293 13.5937 24.0859L6.46776 27.2539L6.96974 25.2421C7.04496 24.9433 6.97756 24.6269 6.78812 24.3847C6.59868 24.1416 6.30765 24 6.00004 24H1.99999V9.99997H20V24ZM30 18H26C25.6924 18 25.4014 18.1416 25.2119 18.3848C25.0225 18.627 24.9551 18.9433 25.0303 19.2422L25.462 20.9688L22 18.9909V9C22 8.44725 21.5528 7.99997 21 7.99997H12V3.99999H30C29.9999 3.99999 29.9999 18 30 18Z")
								p
									span 350+
									span Languages
							div
								svg(width="32" height="32" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg")
									path(d="M24.1628 0.274658C23.9871 0.0988769 23.7488 0 23.5 0H8.5C8.25122 0 8.01294 0.0988769 7.83716 0.274658L0.274658 7.83716C0.0986328 8.01294 0 8.25146 0 8.5V23.5C0 23.7485 0.0986328 23.9871 0.274658 24.1628L7.83716 31.7253C8.01294 31.9011 8.25122 32 8.5 32H23.5C23.7488 32 23.9871 31.9011 24.1628 31.7253L31.7253 24.1628C31.9014 23.9871 32 23.7485 32 23.5V8.5C32 8.25146 31.9014 8.01294 31.7253 7.83716L24.1628 0.274658ZM30.125 23.1116L23.1116 30.125H8.88843L1.875 23.1116V8.88843L8.88843 1.875H23.1116L30.125 8.88843V23.1116Z")
									path(d="M15.8308 3.8147C9.18848 3.90552 3.8125 9.33643 3.8125 16C3.8125 22.7202 9.27979 28.1875 16 28.1875C16.0566 28.1875 16.113 28.1868 16.1692 28.1853C22.8115 28.0945 28.1875 22.6636 28.1875 16C28.1875 9.27979 22.7202 3.8125 16 3.8125C15.9434 3.8125 15.887 3.81323 15.8308 3.8147ZM5.6875 16C5.6875 12.5198 7.42065 9.43726 10.0686 7.56885C9.66431 8.42017 9.4375 9.37158 9.4375 10.375C9.4375 13.9937 12.3813 16.9375 16 16.9375C18.5847 16.9375 20.6875 19.0403 20.6875 21.625C20.6875 24.2097 18.5847 26.3125 16 26.3125C10.3137 26.3125 5.6875 21.6863 5.6875 16ZM26.3125 16C26.3125 19.4802 24.5793 22.5627 21.9314 24.4312C22.3357 23.5798 22.5625 22.6284 22.5625 21.625C22.5625 18.0063 19.6187 15.0625 16 15.0625C13.4153 15.0625 11.3125 12.9597 11.3125 10.375C11.3125 7.79028 13.4153 5.6875 16 5.6875C21.6863 5.6875 26.3125 10.3137 26.3125 16Z")
									path(d="M13.1875 10.375C13.1875 11.9258 14.4492 13.1875 16 13.1875C17.5508 13.1875 18.8125 11.9258 18.8125 10.375C18.8125 8.82422 17.5508 7.5625 16 7.5625C14.4492 7.5625 13.1875 8.82422 13.1875 10.375ZM16.9375 10.375C16.9375 10.8918 16.5168 11.3125 16 11.3125C15.4832 11.3125 15.0625 10.8918 15.0625 10.375C15.0625 9.85815 15.4832 9.4375 16 9.4375C16.5168 9.4375 16.9375 9.85815 16.9375 10.375Z")
									path(d="M18.8125 21.625C18.8125 20.0742 17.5508 18.8125 16 18.8125C14.4492 18.8125 13.1875 20.0742 13.1875 21.625C13.1875 23.1758 14.4492 24.4375 16 24.4375C17.5508 24.4375 18.8125 23.1758 18.8125 21.625ZM15.0625 21.625C15.0625 21.1082 15.4832 20.6875 16 20.6875C16.5168 20.6875 16.9375 21.1082 16.9375 21.625C16.9375 22.1418 16.5168 22.5625 16 22.5625C15.4832 22.5625 15.0625 22.1418 15.0625 21.625Z")
								p
									span 25+
									span Ethnic neighborhoods Little Italy, Japantown,… you name it!
		.last-block
			.section
				p Participating Ticket - Electronic Voucher or Coupon with a Unique Identification Number referred to as one time given consultancy emailed to its buyer and paid for it in the form of fee or received accordingly to alternative method of entry through the link sharing. Fees are not refundable. Age restrictions apply accordingly to the Sweepstakes Policy of your locality.
					span *
				.underline
					div
				p Contact Us: If you need to contact us, always include your Name, Date of Birth and Ticket Number exactly as they appear in the Confirmation email received from us. Your Ticket Numbers(s) should be clearly written in the Top right corner of your email and/or in the Subject line. We only receive inquiries by email. Do Not mail paper documents or correspondence to us. All paper documents or correspondence received will be destroyed. Reply to your inquiry will be sent in a timely manner.#[br]#[br]This Website is not managed by the U.S. Department of State. External links to other Internet Websites and listings of private entities on this page are provided as a convenience and should not be construed as the U.S. Department of State or U.S. government endorsement of the entity, its views, the products or services it provides, or the accuracy of information contained therein. The order in which names appear has no significance, and the listings or links may be removed at any time at the discretion of the Department of Immigration Affairs Inc.
